{
  "_extract": {
    "sources": {
      "openapi": {
        "kind": "official_openapi",
        "url": "https://raw.githubusercontent.com/cockroachdb/cockroach-cloud-sdk-go/d1d13eb0bd622703e0cd758ef2a9967492c5785e/internal/spec/openapi.json",
        "bytes": 650654,
        "sha256": "d1c7d94d0030c2f7d6e0d85cdaa92c7f3be9997ec6b0a7774b5f21f1ab8e3359",
        "openapi": "3.0.0",
        "title": "CockroachDB Cloud API",
        "api_version": "2024-09-16",
        "official_path_count": 74,
        "retrieved_on": "2026-07-20",
        "mutability": "The pinned URL is a commit-immutable GitHub mirror (cockroach-cloud-sdk-go@d1d13eb0) adopted 2026-07-20 after the vendor-owned spec asset vanished in a docs replatform. Generation fails closed unless bytes and SHA-256 match this reviewed contract; the immutable pin no longer self-detects upstream drift, so advancing is a deliberate reviewed re-pin.",
        "servers": [
          {
            "url": "https://cockroachlabs.cloud"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "security_schemes": {
          "Bearer": {
            "type": "http",
            "scheme": "bearer"
          }
        }
      },
      "cloud_api_guide": {
        "kind": "official_markdown",
        "url": "https://www.cockroachlabs.com/docs/cockroachcloud/cloud-api.md",
        "bytes": 36088,
        "sha256": "d6ce46636f5daa26534d16a958ee38b25b53a413c981737c8fd9a946bb146216",
        "retrieved_on": "2026-07-20",
        "proves": [
          "v1_api_version_2024_09_16",
          "cc_version_header_recommended",
          "bearer_service_account_secret",
          "ten_requests_per_second_per_user",
          "retry_after_on_rate_limit",
          "audit_log_next_starting_from",
          "sql_user_next_page"
        ],
        "verified_bytes": 36088
      }
    },
    "official_operation_count": 144,
    "admitted_operation_count": 139,
    "deprecated_operation_count": 5,
    "official_method_counts": {
      "DELETE": 22,
      "GET": 60,
      "PATCH": 19,
      "POST": 30,
      "PUT": 13
    },
    "admitted_method_counts": {
      "DELETE": 22,
      "GET": 60,
      "PATCH": 18,
      "POST": 30,
      "PUT": 9
    },
    "official_tag_counts": {
      "API Keys": 5,
      "Audit Logs": 1,
      "Backup/Restore": 6,
      "Billing": 2,
      "Blackout Windows": 5,
      "Client CA Certificates": 4,
      "Cluster Disruption": 2,
      "Clusters": 9,
      "Customer-managed Encryption Keys": 4,
      "Databases": 5,
      "Egress Private Endpoints": 6,
      "Egress Rules": 6,
      "Folders": 6,
      "IP Allowlists": 5,
      "JWT Issuers": 5,
      "Log Export": 3,
      "Maintenance Windows": 3,
      "Metric Export": 9,
      "Organizations": 1,
      "Physical Cluster Replication": 4,
      "Private Endpoint Services": 11,
      "Role Management": 6,
      "SCIM": 25,
      "Service Accounts": 5,
      "SQL Users": 4,
      "Version Deferral": 2
    },
    "admitted_tag_counts": {
      "API Keys": 5,
      "Audit Logs": 1,
      "Backup/Restore": 6,
      "Billing": 2,
      "Blackout Windows": 5,
      "Client CA Certificates": 4,
      "Cluster Disruption": 2,
      "Clusters": 9,
      "Customer-managed Encryption Keys": 4,
      "Databases": 5,
      "Egress Private Endpoints": 5,
      "Egress Rules": 6,
      "Folders": 6,
      "IP Allowlists": 5,
      "JWT Issuers": 5,
      "Log Export": 3,
      "Maintenance Windows": 3,
      "Metric Export": 9,
      "Organizations": 1,
      "Physical Cluster Replication": 4,
      "Private Endpoint Services": 11,
      "Role Management": 6,
      "SCIM": 21,
      "Service Accounts": 5,
      "SQL Users": 4,
      "Version Deferral": 2
    },
    "path_family_counts": {
      "official_v1": 119,
      "official_scim_v2": 25,
      "admitted_v1": 118,
      "admitted_scim_v2": 21
    },
    "pack_operation_counts": {
      "cockroachdb-cloud-scim": 21,
      "cockroachdb-cloud-access-organization": 31,
      "cockroachdb-cloud-clusters-data": 44,
      "cockroachdb-cloud-networking-observability": 43
    },
    "composition_bytes": {
      "cockroachdb-cloud-scim": 47576,
      "cockroachdb-cloud-access-organization": 64315,
      "cockroachdb-cloud-clusters-data": 96803,
      "cockroachdb-cloud-networking-observability": 90818
    },
    "body_mode_counts": {
      "none": 85,
      "raw_json": 54
    },
    "response_body_mode_counts": {
      "json": 139
    },
    "risk_counts": {
      "admin": 25,
      "destructive": 50,
      "read": 64
    },
    "approval_counts": {
      "always": 75,
      "never": 64
    },
    "idempotency_counts": {
      "idempotent": 31,
      "non_idempotent": 44,
      "safe": 64
    },
    "pagination": {
      "automatic_operation_count": 21,
      "keyset_operation_count": 18,
      "audit_timestamp_operation_count": 1,
      "scim_offset_operation_count": 2,
      "manual_operation_count": 3,
      "automatic_operation_keys": [
        "GET /api/scim/v2/Groups",
        "GET /api/scim/v2/Users",
        "GET /api/v1/api-keys",
        "GET /api/v1/auditlogevents",
        "GET /api/v1/cluster-versions",
        "GET /api/v1/clusters",
        "GET /api/v1/clusters/available-regions",
        "GET /api/v1/clusters/{cluster_id}/backups",
        "GET /api/v1/clusters/{cluster_id}/blackout-windows",
        "GET /api/v1/clusters/{cluster_id}/databases",
        "GET /api/v1/clusters/{cluster_id}/networking/allowlist",
        "GET /api/v1/clusters/{cluster_id}/networking/egress-private-endpoints",
        "GET /api/v1/clusters/{cluster_id}/networking/egress-rules",
        "GET /api/v1/clusters/{cluster_id}/nodes",
        "GET /api/v1/clusters/{cluster_id}/restores",
        "GET /api/v1/clusters/{cluster_id}/sql-users",
        "GET /api/v1/folders",
        "GET /api/v1/folders/{folder_id}/contents",
        "GET /api/v1/jwt-issuers",
        "GET /api/v1/physical-replication-streams",
        "GET /api/v1/service-accounts"
      ],
      "manual_operation_keys": [
        "GET /api/v1/roles",
        "POST /api/scim/v2/Groups/.search",
        "POST /api/scim/v2/Users/.search"
      ],
      "result_path_counts": {
        "allowlist": 1,
        "api_keys": 1,
        "backups": 1,
        "blackout_windows": 1,
        "clusters": 1,
        "databases": 1,
        "egress_private_endpoints": 1,
        "entries": 1,
        "folders": 1,
        "jwt_issuers": 1,
        "nodes": 1,
        "physical_replication_streams": 1,
        "regions": 1,
        "resources": 1,
        "Resources": 2,
        "restores": 1,
        "rules": 1,
        "service_accounts": 1,
        "users": 1,
        "versions": 1
      }
    },
    "authority_notes": {
      "exact_path_parameter_contract": true,
      "operation_id_uniqueness": true,
      "bearer_security_operation_count": 139,
      "cc_version_static_header_operation_count": 118,
      "scim_without_cc_version_operation_count": 21,
      "required_json_body_operation_count": 54,
      "repeated_query_array_parameters": [],
      "array_parameter_safety_max_items": 256,
      "derived_int32_bound_parameters": [
        "DELETE /api/v1/clusters/{cluster_id}/networking/allowlist/{cidr_ip}/{cidr_mask}:cidr_mask",
        "GET /api/scim/v2/Groups:count",
        "GET /api/scim/v2/Groups:startIndex",
        "GET /api/scim/v2/Users:count",
        "GET /api/scim/v2/Users:startIndex",
        "GET /api/v1/api-keys:pagination.limit",
        "GET /api/v1/auditlogevents:limit",
        "GET /api/v1/cluster-versions:pagination.limit",
        "GET /api/v1/clusters/available-regions:pagination.limit",
        "GET /api/v1/clusters/{cluster_id}/backups:pagination.limit",
        "GET /api/v1/clusters/{cluster_id}/blackout-windows:pagination.limit",
        "GET /api/v1/clusters/{cluster_id}/databases:pagination.limit",
        "GET /api/v1/clusters/{cluster_id}/networking/allowlist:pagination.limit",
        "GET /api/v1/clusters/{cluster_id}/networking/egress-private-endpoints:pagination.limit",
        "GET /api/v1/clusters/{cluster_id}/networking/egress-rules:pagination.limit",
        "GET /api/v1/clusters/{cluster_id}/nodes:pagination.limit",
        "GET /api/v1/clusters/{cluster_id}/restores:pagination.limit",
        "GET /api/v1/clusters/{cluster_id}/sql-users:pagination.limit",
        "GET /api/v1/clusters:pagination.limit",
        "GET /api/v1/folders/{folder_id}/contents:pagination.limit",
        "GET /api/v1/folders:pagination.limit",
        "GET /api/v1/jwt-issuers:pagination.limit",
        "GET /api/v1/physical-replication-streams:pagination.limit",
        "GET /api/v1/roles:pagination.limit",
        "GET /api/v1/service-accounts:pagination.limit",
        "PATCH /api/v1/clusters/{cluster_id}/networking/allowlist/{cidr_ip}/{cidr_mask}:cidr_mask",
        "PUT /api/v1/clusters/{cluster_id}/networking/allowlist/{cidr_ip}/{cidr_mask}:cidr_mask"
      ],
      "exact_decimal_parameters": [],
      "dropped_vendor_patterns": [],
      "read_only_post_operation_keys": [
        "POST /api/scim/v2/Groups/.search",
        "POST /api/scim/v2/Groups/{id}/.search",
        "POST /api/scim/v2/Users/.search",
        "POST /api/scim/v2/Users/{id}/.search"
      ],
      "explicit_destructive_post_operation_keys": [
        "POST /api/v1/clusters/{destination_cluster_id}/restores"
      ],
      "secret_response_operation_ids": [
        "CockroachCloud_CreateApiKey"
      ],
      "workflow_suppressed_sensitive_read_ids": [],
      "provider_rate_limit_requests_per_second_per_user": 10,
      "retry_after_documented": true
    },
    "source_decision": {
      "admitted": false,
      "candidates": [
        "task",
        "note",
        "project"
      ],
      "reason": "CockroachDB Cloud exposes database infrastructure, identity provisioning, billing, networking, replication, and operational configuration. SCIM users/groups and organization folders are administrative hierarchy rather than semantically honest Recued tasks, notes, or user-work projects, and the authority proves no matching durable version plus deletion contract."
    },
    "audit_findings_folded": [
      {
        "severity": "high",
        "finding": "The vendor's latest OpenAPI URL and rendered Cloud API guide are mutable authorities.",
        "resolution": "Pinned both documents by byte count and SHA-256 and made regeneration fail closed on any drift before emitting artifacts."
      },
      {
        "severity": "high",
        "finding": "The OpenAPI omits the strongly recommended Cc-Version header and combines date-versioned v1 routes with standards-based SCIM v2 routes.",
        "resolution": "Applied immutable Cc-Version 2024-09-16 to all 118 current /api/v1 operations and deliberately omitted it from all 21 SCIM v2 operations."
      },
      {
        "severity": "medium",
        "finding": "Five operations are explicitly provider-deprecated, including four legacy SCIM PUT searches.",
        "resolution": "Excluded the exact deprecated set while retaining their current GET, POST, or replacement PATCH counterparts."
      },
      {
        "severity": "high",
        "finding": "The paginated role-grants response carries both grants and user_group_grants, but the follower can merge only one result array.",
        "resolution": "Left role-grant pagination caller-controlled and preserved both arrays instead of falsely certifying one merged array as the complete response."
      },
      {
        "severity": "medium",
        "finding": "Two SCIM collection searches carry count and startIndex inside required JSON bodies, while body_raw cannot be safely rewritten between pages.",
        "resolution": "Kept those two searches explicitly single-response and caller-paged; GET user/group lists receive safe automatic RFC 7644 offset walks."
      },
      {
        "severity": "high",
        "finding": "Credential-shaped response fields have different security semantics: API-key creation returns a full unrecoverable secret, while formatted connection strings contain no password and Datadog returns only the final four key digits.",
        "resolution": "Schema-verified that boundary during generation, marked only API-key creation as secret-bearing, retained both safe reads as uncached workflows, and generated no mutation workflow that could render the newly created secret."
      },
      {
        "severity": "medium",
        "finding": "All 54 current request bodies are required nested JSON objects, including SCIM patches and credential-bearing configuration.",
        "resolution": "Requires bounded complete body_raw and sends it verbatim, avoiding lossy flattening of nested objects, arrays, nulls, and integer literals."
      },
      {
        "severity": "medium",
        "finding": "The repeated role_filter query array has no provider maximum but the closed request-schema gate requires a collection bound.",
        "resolution": "Applied a Recued 256-item request safety ceiling, preserved repeated-key serialization, and did not present the implementation bound as a CockroachDB limit."
      },
      {
        "severity": "medium",
        "finding": "Responses can contain integer fields whose exact range is not safe to infer from compacted schemas.",
        "resolution": "Enabled unsafe-integer preservation on every JSON response and projected int32 request parameters to explicit format-derived safe bounds."
      },
      {
        "severity": "high",
        "finding": "The restore endpoint is POST-shaped but initiates data restoration, so a method-only policy would underclassify it as ordinary administration.",
        "resolution": "Added an operation-ID-locked destructive override for CreateRestore, retained non-idempotent retry semantics, and regression-tested the exact route."
      },
      {
        "severity": "medium",
        "finding": "Automatic inventory walks can encounter the documented 10 request/second/user limit.",
        "resolution": "Uses sequential gateway pagination, keeps reads uncached, documents Retry-After handling on every capability, and relies on gateway page and record ceilings."
      }
    ],
    "workflows": [
      {
        "recipe_id": "get-groups-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetGroups",
        "key": "GET /api/scim/v2/Groups",
        "pack": "cockroachdb-cloud-scim",
        "op": "scim.get_groups",
        "required_args": [],
        "supplied_args": [],
        "pagination": {
          "style": "offset",
          "page_size": {
            "placement": "query",
            "param": "count",
            "value": 20
          },
          "param": {
            "placement": "query",
            "param": "startIndex"
          },
          "start": 1,
          "increment": "by_page_size"
        },
        "manual_pagination": null
      },
      {
        "recipe_id": "search-groups-cockroachdb-cloud",
        "operation_id": "CockroachCloud_SearchGroups",
        "key": "POST /api/scim/v2/Groups/.search",
        "pack": "cockroachdb-cloud-scim",
        "op": "scim.search_groups",
        "required_args": [
          "body_raw"
        ],
        "supplied_args": [
          "body_raw"
        ],
        "pagination": null,
        "manual_pagination": {
          "reason": "raw_json_body_cursor",
          "arrays": [
            "Resources"
          ],
          "caller_fields": [
            "body_raw"
          ]
        }
      },
      {
        "recipe_id": "get-group-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetGroup",
        "key": "GET /api/scim/v2/Groups/{id}",
        "pack": "cockroachdb-cloud-scim",
        "op": "scim.get_group",
        "required_args": [
          "id"
        ],
        "supplied_args": [
          "id"
        ],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "search-group-cockroachdb-cloud",
        "operation_id": "CockroachCloud_SearchGroup",
        "key": "POST /api/scim/v2/Groups/{id}/.search",
        "pack": "cockroachdb-cloud-scim",
        "op": "scim.search_group",
        "required_args": [
          "id",
          "body_raw"
        ],
        "supplied_args": [
          "id",
          "body_raw"
        ],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "get-resource-types-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetResourceTypes",
        "key": "GET /api/scim/v2/ResourceTypes",
        "pack": "cockroachdb-cloud-scim",
        "op": "scim.get_resource_types",
        "required_args": [],
        "supplied_args": [],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "get-resource-type-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetResourceType",
        "key": "GET /api/scim/v2/ResourceTypes/{resourceId}",
        "pack": "cockroachdb-cloud-scim",
        "op": "scim.get_resource_type",
        "required_args": [
          "resourceId"
        ],
        "supplied_args": [
          "resourceId"
        ],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "get-schemas-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetSchemas",
        "key": "GET /api/scim/v2/Schemas",
        "pack": "cockroachdb-cloud-scim",
        "op": "scim.get_schemas",
        "required_args": [],
        "supplied_args": [],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "get-schema-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetSchema",
        "key": "GET /api/scim/v2/Schemas/{schemaId}",
        "pack": "cockroachdb-cloud-scim",
        "op": "scim.get_schema",
        "required_args": [
          "schemaId"
        ],
        "supplied_args": [
          "schemaId"
        ],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "get-service-provider-config-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetServiceProviderConfig",
        "key": "GET /api/scim/v2/ServiceProviderConfig",
        "pack": "cockroachdb-cloud-scim",
        "op": "scim.get_service_provider_config",
        "required_args": [],
        "supplied_args": [],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "get-users-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetUsers",
        "key": "GET /api/scim/v2/Users",
        "pack": "cockroachdb-cloud-scim",
        "op": "scim.get_users",
        "required_args": [],
        "supplied_args": [],
        "pagination": {
          "style": "offset",
          "page_size": {
            "placement": "query",
            "param": "count",
            "value": 20
          },
          "param": {
            "placement": "query",
            "param": "startIndex"
          },
          "start": 1,
          "increment": "by_page_size"
        },
        "manual_pagination": null
      },
      {
        "recipe_id": "search-users-cockroachdb-cloud",
        "operation_id": "CockroachCloud_SearchUsers",
        "key": "POST /api/scim/v2/Users/.search",
        "pack": "cockroachdb-cloud-scim",
        "op": "scim.search_users",
        "required_args": [
          "body_raw"
        ],
        "supplied_args": [
          "body_raw"
        ],
        "pagination": null,
        "manual_pagination": {
          "reason": "raw_json_body_cursor",
          "arrays": [
            "Resources"
          ],
          "caller_fields": [
            "body_raw"
          ]
        }
      },
      {
        "recipe_id": "get-user-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetUser",
        "key": "GET /api/scim/v2/Users/{id}",
        "pack": "cockroachdb-cloud-scim",
        "op": "scim.get_user",
        "required_args": [
          "id"
        ],
        "supplied_args": [
          "id"
        ],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "search-user-cockroachdb-cloud",
        "operation_id": "CockroachCloud_SearchUser",
        "key": "POST /api/scim/v2/Users/{id}/.search",
        "pack": "cockroachdb-cloud-scim",
        "op": "scim.search_user",
        "required_args": [
          "id",
          "body_raw"
        ],
        "supplied_args": [
          "id",
          "body_raw"
        ],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "list-api-keys-cockroachdb-cloud",
        "operation_id": "CockroachCloud_ListApiKeys",
        "key": "GET /api/v1/api-keys",
        "pack": "cockroachdb-cloud-access-organization",
        "op": "api_keys.list_api_keys",
        "required_args": [],
        "supplied_args": [],
        "pagination": {
          "style": "query_token",
          "token_from": "pagination.next_page",
          "token_to": {
            "placement": "query",
            "param": "pagination.page"
          }
        },
        "manual_pagination": null
      },
      {
        "recipe_id": "get-api-key-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetApiKey",
        "key": "GET /api/v1/api-keys/{id}",
        "pack": "cockroachdb-cloud-access-organization",
        "op": "api_keys.get_api_key",
        "required_args": [
          "id"
        ],
        "supplied_args": [
          "id"
        ],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "list-audit-logs-cockroachdb-cloud",
        "operation_id": "CockroachCloud_ListAuditLogs",
        "key": "GET /api/v1/auditlogevents",
        "pack": "cockroachdb-cloud-access-organization",
        "op": "audit_logs.list_audit_logs",
        "required_args": [],
        "supplied_args": [],
        "pagination": {
          "style": "query_token",
          "token_from": "next_starting_from",
          "token_to": {
            "placement": "query",
            "param": "starting_from"
          }
        },
        "manual_pagination": null
      },
      {
        "recipe_id": "list-major-cluster-versions-cockroachdb-cloud",
        "operation_id": "CockroachCloud_ListMajorClusterVersions",
        "key": "GET /api/v1/cluster-versions",
        "pack": "cockroachdb-cloud-clusters-data",
        "op": "clusters.list_major_cluster_versions",
        "required_args": [],
        "supplied_args": [],
        "pagination": {
          "style": "query_token",
          "token_from": "pagination.next_page",
          "token_to": {
            "placement": "query",
            "param": "pagination.page"
          }
        },
        "manual_pagination": null
      },
      {
        "recipe_id": "list-clusters-cockroachdb-cloud",
        "operation_id": "CockroachCloud_ListClusters",
        "key": "GET /api/v1/clusters",
        "pack": "cockroachdb-cloud-clusters-data",
        "op": "clusters.list_clusters",
        "required_args": [],
        "supplied_args": [],
        "pagination": {
          "style": "query_token",
          "token_from": "pagination.next_page",
          "token_to": {
            "placement": "query",
            "param": "pagination.page"
          }
        },
        "manual_pagination": null
      },
      {
        "recipe_id": "list-available-regions-cockroachdb-cloud",
        "operation_id": "CockroachCloud_ListAvailableRegions",
        "key": "GET /api/v1/clusters/available-regions",
        "pack": "cockroachdb-cloud-clusters-data",
        "op": "clusters.list_available_regions",
        "required_args": [],
        "supplied_args": [],
        "pagination": {
          "style": "query_token",
          "token_from": "pagination.next_page",
          "token_to": {
            "placement": "query",
            "param": "pagination.page"
          }
        },
        "manual_pagination": null
      },
      {
        "recipe_id": "get-cluster-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetCluster",
        "key": "GET /api/v1/clusters/{cluster_id}",
        "pack": "cockroachdb-cloud-clusters-data",
        "op": "clusters.get_cluster",
        "required_args": [
          "cluster_id"
        ],
        "supplied_args": [
          "cluster_id"
        ],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "list-backups-cockroachdb-cloud",
        "operation_id": "CockroachCloud_ListBackups",
        "key": "GET /api/v1/clusters/{cluster_id}/backups",
        "pack": "cockroachdb-cloud-clusters-data",
        "op": "backup_restore.list_backups",
        "required_args": [
          "cluster_id"
        ],
        "supplied_args": [
          "cluster_id"
        ],
        "pagination": {
          "style": "query_token",
          "token_from": "pagination.next_page",
          "token_to": {
            "placement": "query",
            "param": "pagination.page"
          }
        },
        "manual_pagination": null
      },
      {
        "recipe_id": "get-backup-configuration-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetBackupConfiguration",
        "key": "GET /api/v1/clusters/{cluster_id}/backups-config",
        "pack": "cockroachdb-cloud-clusters-data",
        "op": "backup_restore.get_backup_configuration",
        "required_args": [
          "cluster_id"
        ],
        "supplied_args": [
          "cluster_id"
        ],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "list-blackout-windows-cockroachdb-cloud",
        "operation_id": "CockroachCloud_ListBlackoutWindows",
        "key": "GET /api/v1/clusters/{cluster_id}/blackout-windows",
        "pack": "cockroachdb-cloud-clusters-data",
        "op": "blackout_windows.list_blackout_windows",
        "required_args": [
          "cluster_id"
        ],
        "supplied_args": [
          "cluster_id"
        ],
        "pagination": {
          "style": "query_token",
          "token_from": "pagination.next_page",
          "token_to": {
            "placement": "query",
            "param": "pagination.page"
          }
        },
        "manual_pagination": null
      },
      {
        "recipe_id": "get-blackout-window-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetBlackoutWindow",
        "key": "GET /api/v1/clusters/{cluster_id}/blackout-windows/{blackout_window_id}",
        "pack": "cockroachdb-cloud-clusters-data",
        "op": "blackout_windows.get_blackout_window",
        "required_args": [
          "cluster_id",
          "blackout_window_id"
        ],
        "supplied_args": [
          "cluster_id",
          "blackout_window_id"
        ],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "get-client-cacert-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetClientCACert",
        "key": "GET /api/v1/clusters/{cluster_id}/client-ca-cert",
        "pack": "cockroachdb-cloud-clusters-data",
        "op": "client_ca_certificates.get_client_cacert",
        "required_args": [
          "cluster_id"
        ],
        "supplied_args": [
          "cluster_id"
        ],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "get-cmekcluster-info-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetCMEKClusterInfo",
        "key": "GET /api/v1/clusters/{cluster_id}/cmek",
        "pack": "cockroachdb-cloud-clusters-data",
        "op": "customer_managed_encryption_keys.get_cmekcluster_info",
        "required_args": [
          "cluster_id"
        ],
        "supplied_args": [
          "cluster_id"
        ],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "get-connection-string-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetConnectionString",
        "key": "GET /api/v1/clusters/{cluster_id}/connection-string",
        "pack": "cockroachdb-cloud-clusters-data",
        "op": "clusters.get_connection_string",
        "required_args": [
          "cluster_id"
        ],
        "supplied_args": [
          "cluster_id"
        ],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "list-databases-cockroachdb-cloud",
        "operation_id": "CockroachCloud_ListDatabases",
        "key": "GET /api/v1/clusters/{cluster_id}/databases",
        "pack": "cockroachdb-cloud-clusters-data",
        "op": "databases.list_databases",
        "required_args": [
          "cluster_id"
        ],
        "supplied_args": [
          "cluster_id"
        ],
        "pagination": {
          "style": "query_token",
          "token_from": "pagination.next_page",
          "token_to": {
            "placement": "query",
            "param": "pagination.page"
          }
        },
        "manual_pagination": null
      },
      {
        "recipe_id": "get-cluster-disruption-info-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetClusterDisruptionInfo",
        "key": "GET /api/v1/clusters/{cluster_id}/disrupt",
        "pack": "cockroachdb-cloud-clusters-data",
        "op": "cluster_disruption.get_cluster_disruption_info",
        "required_args": [
          "cluster_id"
        ],
        "supplied_args": [
          "cluster_id"
        ],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "get-log-export-info-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetLogExportInfo",
        "key": "GET /api/v1/clusters/{cluster_id}/logexport",
        "pack": "cockroachdb-cloud-networking-observability",
        "op": "log_export.get_log_export_info",
        "required_args": [
          "cluster_id"
        ],
        "supplied_args": [
          "cluster_id"
        ],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "get-maintenance-window-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetMaintenanceWindow",
        "key": "GET /api/v1/clusters/{cluster_id}/maintenance-window",
        "pack": "cockroachdb-cloud-clusters-data",
        "op": "maintenance_windows.get_maintenance_window",
        "required_args": [
          "cluster_id"
        ],
        "supplied_args": [
          "cluster_id"
        ],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "get-cloud-watch-metric-export-info-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetCloudWatchMetricExportInfo",
        "key": "GET /api/v1/clusters/{cluster_id}/metricexport/cloudwatch",
        "pack": "cockroachdb-cloud-networking-observability",
        "op": "metric_export.get_cloud_watch_metric_export_info",
        "required_args": [
          "cluster_id"
        ],
        "supplied_args": [
          "cluster_id"
        ],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "get-datadog-metric-export-info-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetDatadogMetricExportInfo",
        "key": "GET /api/v1/clusters/{cluster_id}/metricexport/datadog",
        "pack": "cockroachdb-cloud-networking-observability",
        "op": "metric_export.get_datadog_metric_export_info",
        "required_args": [
          "cluster_id"
        ],
        "supplied_args": [
          "cluster_id"
        ],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "get-prometheus-metric-export-info-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetPrometheusMetricExportInfo",
        "key": "GET /api/v1/clusters/{cluster_id}/metricexport/prometheus",
        "pack": "cockroachdb-cloud-networking-observability",
        "op": "metric_export.get_prometheus_metric_export_info",
        "required_args": [
          "cluster_id"
        ],
        "supplied_args": [
          "cluster_id"
        ],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "list-allowlist-entries-cockroachdb-cloud",
        "operation_id": "CockroachCloud_ListAllowlistEntries",
        "key": "GET /api/v1/clusters/{cluster_id}/networking/allowlist",
        "pack": "cockroachdb-cloud-networking-observability",
        "op": "ip_allowlists.list_allowlist_entries",
        "required_args": [
          "cluster_id"
        ],
        "supplied_args": [
          "cluster_id"
        ],
        "pagination": {
          "style": "query_token",
          "token_from": "pagination.next_page",
          "token_to": {
            "placement": "query",
            "param": "pagination.page"
          }
        },
        "manual_pagination": null
      },
      {
        "recipe_id": "list-aws-endpoint-connections-cockroachdb-cloud",
        "operation_id": "CockroachCloud_ListAwsEndpointConnections",
        "key": "GET /api/v1/clusters/{cluster_id}/networking/aws-endpoint-connections",
        "pack": "cockroachdb-cloud-networking-observability",
        "op": "private_endpoint_services.list_aws_endpoint_connections",
        "required_args": [
          "cluster_id"
        ],
        "supplied_args": [
          "cluster_id"
        ],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "list-egress-private-endpoints-cockroachdb-cloud",
        "operation_id": "CockroachCloud_ListEgressPrivateEndpoints",
        "key": "GET /api/v1/clusters/{cluster_id}/networking/egress-private-endpoints",
        "pack": "cockroachdb-cloud-networking-observability",
        "op": "egress_private_endpoints.list_egress_private_endpoints",
        "required_args": [
          "cluster_id"
        ],
        "supplied_args": [
          "cluster_id"
        ],
        "pagination": {
          "style": "query_token",
          "token_from": "pagination.next_page",
          "token_to": {
            "placement": "query",
            "param": "pagination.page"
          }
        },
        "manual_pagination": null
      },
      {
        "recipe_id": "get-egress-private-endpoint-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetEgressPrivateEndpoint",
        "key": "GET /api/v1/clusters/{cluster_id}/networking/egress-private-endpoints/{id}",
        "pack": "cockroachdb-cloud-networking-observability",
        "op": "egress_private_endpoints.get_egress_private_endpoint",
        "required_args": [
          "cluster_id",
          "id"
        ],
        "supplied_args": [
          "cluster_id",
          "id"
        ],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "list-egress-rules-cockroachdb-cloud",
        "operation_id": "CockroachCloud_ListEgressRules",
        "key": "GET /api/v1/clusters/{cluster_id}/networking/egress-rules",
        "pack": "cockroachdb-cloud-networking-observability",
        "op": "egress_rules.list_egress_rules",
        "required_args": [
          "cluster_id"
        ],
        "supplied_args": [
          "cluster_id"
        ],
        "pagination": {
          "style": "query_token",
          "token_from": "pagination.next_page",
          "token_to": {
            "placement": "query",
            "param": "pagination.page"
          }
        },
        "manual_pagination": null
      },
      {
        "recipe_id": "get-egress-rule-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetEgressRule",
        "key": "GET /api/v1/clusters/{cluster_id}/networking/egress-rules/{rule_id}",
        "pack": "cockroachdb-cloud-networking-observability",
        "op": "egress_rules.get_egress_rule",
        "required_args": [
          "cluster_id",
          "rule_id"
        ],
        "supplied_args": [
          "cluster_id",
          "rule_id"
        ],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "list-private-endpoint-connections-cockroachdb-cloud",
        "operation_id": "CockroachCloud_ListPrivateEndpointConnections",
        "key": "GET /api/v1/clusters/{cluster_id}/networking/private-endpoint-connections",
        "pack": "cockroachdb-cloud-networking-observability",
        "op": "private_endpoint_services.list_private_endpoint_connections",
        "required_args": [
          "cluster_id"
        ],
        "supplied_args": [
          "cluster_id"
        ],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "list-private-endpoint-services-cockroachdb-cloud",
        "operation_id": "CockroachCloud_ListPrivateEndpointServices",
        "key": "GET /api/v1/clusters/{cluster_id}/networking/private-endpoint-services",
        "pack": "cockroachdb-cloud-networking-observability",
        "op": "private_endpoint_services.list_private_endpoint_services",
        "required_args": [
          "cluster_id"
        ],
        "supplied_args": [
          "cluster_id"
        ],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "list-private-endpoint-trusted-owners-cockroachdb-cloud",
        "operation_id": "CockroachCloud_ListPrivateEndpointTrustedOwners",
        "key": "GET /api/v1/clusters/{cluster_id}/networking/private-endpoint-trusted-owners",
        "pack": "cockroachdb-cloud-networking-observability",
        "op": "private_endpoint_services.list_private_endpoint_trusted_owners",
        "required_args": [
          "cluster_id"
        ],
        "supplied_args": [
          "cluster_id"
        ],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "get-private-endpoint-trusted-owner-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetPrivateEndpointTrustedOwner",
        "key": "GET /api/v1/clusters/{cluster_id}/networking/private-endpoint-trusted-owners/{owner_id}",
        "pack": "cockroachdb-cloud-networking-observability",
        "op": "private_endpoint_services.get_private_endpoint_trusted_owner",
        "required_args": [
          "cluster_id",
          "owner_id"
        ],
        "supplied_args": [
          "cluster_id",
          "owner_id"
        ],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "list-cluster-nodes-cockroachdb-cloud",
        "operation_id": "CockroachCloud_ListClusterNodes",
        "key": "GET /api/v1/clusters/{cluster_id}/nodes",
        "pack": "cockroachdb-cloud-clusters-data",
        "op": "clusters.list_cluster_nodes",
        "required_args": [
          "cluster_id"
        ],
        "supplied_args": [
          "cluster_id"
        ],
        "pagination": {
          "style": "query_token",
          "token_from": "pagination.next_page",
          "token_to": {
            "placement": "query",
            "param": "pagination.page"
          }
        },
        "manual_pagination": null
      },
      {
        "recipe_id": "list-restores-cockroachdb-cloud",
        "operation_id": "CockroachCloud_ListRestores",
        "key": "GET /api/v1/clusters/{cluster_id}/restores",
        "pack": "cockroachdb-cloud-clusters-data",
        "op": "backup_restore.list_restores",
        "required_args": [
          "cluster_id"
        ],
        "supplied_args": [
          "cluster_id"
        ],
        "pagination": {
          "style": "query_token",
          "token_from": "pagination.next_page",
          "token_to": {
            "placement": "query",
            "param": "pagination.page"
          }
        },
        "manual_pagination": null
      },
      {
        "recipe_id": "get-restore-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetRestore",
        "key": "GET /api/v1/clusters/{cluster_id}/restores/{restore_id}",
        "pack": "cockroachdb-cloud-clusters-data",
        "op": "backup_restore.get_restore",
        "required_args": [
          "cluster_id",
          "restore_id"
        ],
        "supplied_args": [
          "cluster_id",
          "restore_id"
        ],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "list-sqlusers-cockroachdb-cloud",
        "operation_id": "CockroachCloud_ListSQLUsers",
        "key": "GET /api/v1/clusters/{cluster_id}/sql-users",
        "pack": "cockroachdb-cloud-clusters-data",
        "op": "sql_users.list_sqlusers",
        "required_args": [
          "cluster_id"
        ],
        "supplied_args": [
          "cluster_id"
        ],
        "pagination": {
          "style": "query_token",
          "token_from": "pagination.next_page",
          "token_to": {
            "placement": "query",
            "param": "pagination.page"
          }
        },
        "manual_pagination": null
      },
      {
        "recipe_id": "get-cluster-version-deferral-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetClusterVersionDeferral",
        "key": "GET /api/v1/clusters/{cluster_id}/version-deferral",
        "pack": "cockroachdb-cloud-clusters-data",
        "op": "version_deferral.get_cluster_version_deferral",
        "required_args": [
          "cluster_id"
        ],
        "supplied_args": [
          "cluster_id"
        ],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "list-folders-cockroachdb-cloud",
        "operation_id": "CockroachCloud_ListFolders",
        "key": "GET /api/v1/folders",
        "pack": "cockroachdb-cloud-access-organization",
        "op": "folders.list_folders",
        "required_args": [],
        "supplied_args": [],
        "pagination": {
          "style": "query_token",
          "token_from": "pagination.next_page",
          "token_to": {
            "placement": "query",
            "param": "pagination.page"
          }
        },
        "manual_pagination": null
      },
      {
        "recipe_id": "get-folder-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetFolder",
        "key": "GET /api/v1/folders/{folder_id}",
        "pack": "cockroachdb-cloud-access-organization",
        "op": "folders.get_folder",
        "required_args": [
          "folder_id"
        ],
        "supplied_args": [
          "folder_id"
        ],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "list-folder-contents-cockroachdb-cloud",
        "operation_id": "CockroachCloud_ListFolderContents",
        "key": "GET /api/v1/folders/{folder_id}/contents",
        "pack": "cockroachdb-cloud-access-organization",
        "op": "folders.list_folder_contents",
        "required_args": [
          "folder_id"
        ],
        "supplied_args": [
          "folder_id"
        ],
        "pagination": {
          "style": "query_token",
          "token_from": "pagination.next_page",
          "token_to": {
            "placement": "query",
            "param": "pagination.page"
          }
        },
        "manual_pagination": null
      },
      {
        "recipe_id": "list-invoices-cockroachdb-cloud",
        "operation_id": "CockroachCloud_ListInvoices",
        "key": "GET /api/v1/invoices",
        "pack": "cockroachdb-cloud-access-organization",
        "op": "billing.list_invoices",
        "required_args": [],
        "supplied_args": [],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "get-invoice-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetInvoice",
        "key": "GET /api/v1/invoices/{invoice_id}",
        "pack": "cockroachdb-cloud-access-organization",
        "op": "billing.get_invoice",
        "required_args": [
          "invoice_id"
        ],
        "supplied_args": [
          "invoice_id"
        ],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "list-jwtissuers-cockroachdb-cloud",
        "operation_id": "CockroachCloud_ListJWTIssuers",
        "key": "GET /api/v1/jwt-issuers",
        "pack": "cockroachdb-cloud-access-organization",
        "op": "jwt_issuers.list_jwtissuers",
        "required_args": [],
        "supplied_args": [],
        "pagination": {
          "style": "query_token",
          "token_from": "pagination.next_page",
          "token_to": {
            "placement": "query",
            "param": "pagination.page"
          }
        },
        "manual_pagination": null
      },
      {
        "recipe_id": "get-jwtissuer-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetJWTIssuer",
        "key": "GET /api/v1/jwt-issuers/{id}",
        "pack": "cockroachdb-cloud-access-organization",
        "op": "jwt_issuers.get_jwtissuer",
        "required_args": [
          "id"
        ],
        "supplied_args": [
          "id"
        ],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "get-organization-info-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetOrganizationInfo",
        "key": "GET /api/v1/organization",
        "pack": "cockroachdb-cloud-access-organization",
        "op": "organizations.get_organization_info",
        "required_args": [],
        "supplied_args": [],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "list-physical-replication-streams-cockroachdb-cloud",
        "operation_id": "CockroachCloud_ListPhysicalReplicationStreams",
        "key": "GET /api/v1/physical-replication-streams",
        "pack": "cockroachdb-cloud-networking-observability",
        "op": "physical_cluster_replication.list_physical_replication_streams",
        "required_args": [],
        "supplied_args": [],
        "pagination": {
          "style": "query_token",
          "token_from": "pagination.next_page",
          "token_to": {
            "placement": "query",
            "param": "pagination.page"
          }
        },
        "manual_pagination": null
      },
      {
        "recipe_id": "get-physical-replication-stream-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetPhysicalReplicationStream",
        "key": "GET /api/v1/physical-replication-streams/{id}",
        "pack": "cockroachdb-cloud-networking-observability",
        "op": "physical_cluster_replication.get_physical_replication_stream",
        "required_args": [
          "id"
        ],
        "supplied_args": [
          "id"
        ],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "list-role-grants-cockroachdb-cloud",
        "operation_id": "CockroachCloud_ListRoleGrants",
        "key": "GET /api/v1/roles",
        "pack": "cockroachdb-cloud-access-organization",
        "op": "role_management.list_role_grants",
        "required_args": [],
        "supplied_args": [],
        "pagination": null,
        "manual_pagination": {
          "reason": "multiple_result_arrays",
          "arrays": [
            "grants",
            "user_group_grants"
          ],
          "caller_fields": [
            "query.pagination.page",
            "query.pagination.limit"
          ]
        }
      },
      {
        "recipe_id": "get-all-roles-for-user-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetAllRolesForUser",
        "key": "GET /api/v1/roles/{user_id}",
        "pack": "cockroachdb-cloud-access-organization",
        "op": "role_management.get_all_roles_for_user",
        "required_args": [
          "user_id"
        ],
        "supplied_args": [
          "user_id"
        ],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "list-service-accounts-cockroachdb-cloud",
        "operation_id": "CockroachCloud_ListServiceAccounts",
        "key": "GET /api/v1/service-accounts",
        "pack": "cockroachdb-cloud-access-organization",
        "op": "service_accounts.list_service_accounts",
        "required_args": [],
        "supplied_args": [],
        "pagination": {
          "style": "query_token",
          "token_from": "pagination.next_page",
          "token_to": {
            "placement": "query",
            "param": "pagination.page"
          }
        },
        "manual_pagination": null
      },
      {
        "recipe_id": "get-service-account-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetServiceAccount",
        "key": "GET /api/v1/service-accounts/{id}",
        "pack": "cockroachdb-cloud-access-organization",
        "op": "service_accounts.get_service_account",
        "required_args": [
          "id"
        ],
        "supplied_args": [
          "id"
        ],
        "pagination": null,
        "manual_pagination": null
      },
      {
        "recipe_id": "get-person-users-by-email-cockroachdb-cloud",
        "operation_id": "CockroachCloud_GetPersonUsersByEmail",
        "key": "GET /api/v1/users/persons-by-email",
        "pack": "cockroachdb-cloud-access-organization",
        "op": "role_management.get_person_users_by_email",
        "required_args": [
          "query.email"
        ],
        "supplied_args": [
          "query.email"
        ],
        "pagination": null,
        "manual_pagination": null
      }
    ]
  },
  "official_operations": [
    {
      "key": "DELETE /api/scim/v2/Groups/{id}",
      "method": "DELETE",
      "path": "/api/scim/v2/Groups/{id}",
      "operation_id": "CockroachCloud_DeleteGroup",
      "tag": "SCIM",
      "deprecated": false,
      "versioned": false,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-scim",
      "op": "scim.delete_group"
    },
    {
      "key": "DELETE /api/scim/v2/Users/{id}",
      "method": "DELETE",
      "path": "/api/scim/v2/Users/{id}",
      "operation_id": "CockroachCloud_DeleteUser",
      "tag": "SCIM",
      "deprecated": false,
      "versioned": false,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-scim",
      "op": "scim.delete_user"
    },
    {
      "key": "DELETE /api/v1/api-keys/{id}",
      "method": "DELETE",
      "path": "/api/v1/api-keys/{id}",
      "operation_id": "CockroachCloud_DeleteApiKey",
      "tag": "API Keys",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-access-organization",
      "op": "api_keys.delete_api_key"
    },
    {
      "key": "DELETE /api/v1/clusters/{cluster_id}",
      "method": "DELETE",
      "path": "/api/v1/clusters/{cluster_id}",
      "operation_id": "CockroachCloud_DeleteCluster",
      "tag": "Clusters",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-clusters-data",
      "op": "clusters.delete_cluster"
    },
    {
      "key": "DELETE /api/v1/clusters/{cluster_id}/blackout-windows/{blackout_window_id}",
      "method": "DELETE",
      "path": "/api/v1/clusters/{cluster_id}/blackout-windows/{blackout_window_id}",
      "operation_id": "CockroachCloud_DeleteBlackoutWindow",
      "tag": "Blackout Windows",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-clusters-data",
      "op": "blackout_windows.delete_blackout_window"
    },
    {
      "key": "DELETE /api/v1/clusters/{cluster_id}/client-ca-cert",
      "method": "DELETE",
      "path": "/api/v1/clusters/{cluster_id}/client-ca-cert",
      "operation_id": "CockroachCloud_DeleteClientCACert",
      "tag": "Client CA Certificates",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-clusters-data",
      "op": "client_ca_certificates.delete_client_cacert"
    },
    {
      "key": "DELETE /api/v1/clusters/{cluster_id}/databases/{name}",
      "method": "DELETE",
      "path": "/api/v1/clusters/{cluster_id}/databases/{name}",
      "operation_id": "CockroachCloud_DeleteDatabase",
      "tag": "Databases",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-clusters-data",
      "op": "databases.delete_database"
    },
    {
      "key": "DELETE /api/v1/clusters/{cluster_id}/logexport",
      "method": "DELETE",
      "path": "/api/v1/clusters/{cluster_id}/logexport",
      "operation_id": "CockroachCloud_DeleteLogExport",
      "tag": "Log Export",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-networking-observability",
      "op": "log_export.delete_log_export"
    },
    {
      "key": "DELETE /api/v1/clusters/{cluster_id}/maintenance-window",
      "method": "DELETE",
      "path": "/api/v1/clusters/{cluster_id}/maintenance-window",
      "operation_id": "CockroachCloud_DeleteMaintenanceWindow",
      "tag": "Maintenance Windows",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-clusters-data",
      "op": "maintenance_windows.delete_maintenance_window"
    },
    {
      "key": "DELETE /api/v1/clusters/{cluster_id}/metricexport/cloudwatch",
      "method": "DELETE",
      "path": "/api/v1/clusters/{cluster_id}/metricexport/cloudwatch",
      "operation_id": "CockroachCloud_DeleteCloudWatchMetricExport",
      "tag": "Metric Export",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-networking-observability",
      "op": "metric_export.delete_cloud_watch_metric_export"
    },
    {
      "key": "DELETE /api/v1/clusters/{cluster_id}/metricexport/datadog",
      "method": "DELETE",
      "path": "/api/v1/clusters/{cluster_id}/metricexport/datadog",
      "operation_id": "CockroachCloud_DeleteDatadogMetricExport",
      "tag": "Metric Export",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-networking-observability",
      "op": "metric_export.delete_datadog_metric_export"
    },
    {
      "key": "DELETE /api/v1/clusters/{cluster_id}/metricexport/prometheus",
      "method": "DELETE",
      "path": "/api/v1/clusters/{cluster_id}/metricexport/prometheus",
      "operation_id": "CockroachCloud_DeletePrometheusMetricExport",
      "tag": "Metric Export",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-networking-observability",
      "op": "metric_export.delete_prometheus_metric_export"
    },
    {
      "key": "DELETE /api/v1/clusters/{cluster_id}/networking/allowlist/{cidr_ip}/{cidr_mask}",
      "method": "DELETE",
      "path": "/api/v1/clusters/{cluster_id}/networking/allowlist/{cidr_ip}/{cidr_mask}",
      "operation_id": "CockroachCloud_DeleteAllowlistEntry",
      "tag": "IP Allowlists",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-networking-observability",
      "op": "ip_allowlists.delete_allowlist_entry"
    },
    {
      "key": "DELETE /api/v1/clusters/{cluster_id}/networking/egress-private-endpoints/{id}",
      "method": "DELETE",
      "path": "/api/v1/clusters/{cluster_id}/networking/egress-private-endpoints/{id}",
      "operation_id": "CockroachCloud_DeleteEgressPrivateEndpoint",
      "tag": "Egress Private Endpoints",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-networking-observability",
      "op": "egress_private_endpoints.delete_egress_private_endpoint"
    },
    {
      "key": "DELETE /api/v1/clusters/{cluster_id}/networking/egress-rules/{rule_id}",
      "method": "DELETE",
      "path": "/api/v1/clusters/{cluster_id}/networking/egress-rules/{rule_id}",
      "operation_id": "CockroachCloud_DeleteEgressRule",
      "tag": "Egress Rules",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-networking-observability",
      "op": "egress_rules.delete_egress_rule"
    },
    {
      "key": "DELETE /api/v1/clusters/{cluster_id}/networking/private-endpoint-connections/{endpoint_id}",
      "method": "DELETE",
      "path": "/api/v1/clusters/{cluster_id}/networking/private-endpoint-connections/{endpoint_id}",
      "operation_id": "CockroachCloud_DeletePrivateEndpointConnection",
      "tag": "Private Endpoint Services",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-networking-observability",
      "op": "private_endpoint_services.delete_private_endpoint_connection"
    },
    {
      "key": "DELETE /api/v1/clusters/{cluster_id}/networking/private-endpoint-trusted-owners/{owner_id}",
      "method": "DELETE",
      "path": "/api/v1/clusters/{cluster_id}/networking/private-endpoint-trusted-owners/{owner_id}",
      "operation_id": "CockroachCloud_RemovePrivateEndpointTrustedOwner",
      "tag": "Private Endpoint Services",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-networking-observability",
      "op": "private_endpoint_services.remove_private_endpoint_trusted_owner"
    },
    {
      "key": "DELETE /api/v1/clusters/{cluster_id}/sql-users/{name}",
      "method": "DELETE",
      "path": "/api/v1/clusters/{cluster_id}/sql-users/{name}",
      "operation_id": "CockroachCloud_DeleteSQLUser",
      "tag": "SQL Users",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-clusters-data",
      "op": "sql_users.delete_sqluser"
    },
    {
      "key": "DELETE /api/v1/folders/{folder_id}",
      "method": "DELETE",
      "path": "/api/v1/folders/{folder_id}",
      "operation_id": "CockroachCloud_DeleteFolder",
      "tag": "Folders",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-access-organization",
      "op": "folders.delete_folder"
    },
    {
      "key": "DELETE /api/v1/jwt-issuers/{id}",
      "method": "DELETE",
      "path": "/api/v1/jwt-issuers/{id}",
      "operation_id": "CockroachCloud_DeleteJWTIssuer",
      "tag": "JWT Issuers",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-access-organization",
      "op": "jwt_issuers.delete_jwtissuer"
    },
    {
      "key": "DELETE /api/v1/roles/{user_id}/{resource_type}/{resource_id}/{role_name}",
      "method": "DELETE",
      "path": "/api/v1/roles/{user_id}/{resource_type}/{resource_id}/{role_name}",
      "operation_id": "CockroachCloud_RemoveUserFromRole",
      "tag": "Role Management",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-access-organization",
      "op": "role_management.remove_user_from_role"
    },
    {
      "key": "DELETE /api/v1/service-accounts/{id}",
      "method": "DELETE",
      "path": "/api/v1/service-accounts/{id}",
      "operation_id": "CockroachCloud_DeleteServiceAccount",
      "tag": "Service Accounts",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-access-organization",
      "op": "service_accounts.delete_service_account"
    },
    {
      "key": "GET /api/scim/v2/Groups",
      "method": "GET",
      "path": "/api/scim/v2/Groups",
      "operation_id": "CockroachCloud_GetGroups",
      "tag": "SCIM",
      "deprecated": false,
      "versioned": false,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-scim",
      "op": "scim.get_groups"
    },
    {
      "key": "GET /api/scim/v2/Groups/{id}",
      "method": "GET",
      "path": "/api/scim/v2/Groups/{id}",
      "operation_id": "CockroachCloud_GetGroup",
      "tag": "SCIM",
      "deprecated": false,
      "versioned": false,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-scim",
      "op": "scim.get_group"
    },
    {
      "key": "GET /api/scim/v2/ResourceTypes",
      "method": "GET",
      "path": "/api/scim/v2/ResourceTypes",
      "operation_id": "CockroachCloud_GetResourceTypes",
      "tag": "SCIM",
      "deprecated": false,
      "versioned": false,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-scim",
      "op": "scim.get_resource_types"
    },
    {
      "key": "GET /api/scim/v2/ResourceTypes/{resourceId}",
      "method": "GET",
      "path": "/api/scim/v2/ResourceTypes/{resourceId}",
      "operation_id": "CockroachCloud_GetResourceType",
      "tag": "SCIM",
      "deprecated": false,
      "versioned": false,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-scim",
      "op": "scim.get_resource_type"
    },
    {
      "key": "GET /api/scim/v2/Schemas",
      "method": "GET",
      "path": "/api/scim/v2/Schemas",
      "operation_id": "CockroachCloud_GetSchemas",
      "tag": "SCIM",
      "deprecated": false,
      "versioned": false,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-scim",
      "op": "scim.get_schemas"
    },
    {
      "key": "GET /api/scim/v2/Schemas/{schemaId}",
      "method": "GET",
      "path": "/api/scim/v2/Schemas/{schemaId}",
      "operation_id": "CockroachCloud_GetSchema",
      "tag": "SCIM",
      "deprecated": false,
      "versioned": false,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-scim",
      "op": "scim.get_schema"
    },
    {
      "key": "GET /api/scim/v2/ServiceProviderConfig",
      "method": "GET",
      "path": "/api/scim/v2/ServiceProviderConfig",
      "operation_id": "CockroachCloud_GetServiceProviderConfig",
      "tag": "SCIM",
      "deprecated": false,
      "versioned": false,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-scim",
      "op": "scim.get_service_provider_config"
    },
    {
      "key": "GET /api/scim/v2/Users",
      "method": "GET",
      "path": "/api/scim/v2/Users",
      "operation_id": "CockroachCloud_GetUsers",
      "tag": "SCIM",
      "deprecated": false,
      "versioned": false,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-scim",
      "op": "scim.get_users"
    },
    {
      "key": "GET /api/scim/v2/Users/{id}",
      "method": "GET",
      "path": "/api/scim/v2/Users/{id}",
      "operation_id": "CockroachCloud_GetUser",
      "tag": "SCIM",
      "deprecated": false,
      "versioned": false,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-scim",
      "op": "scim.get_user"
    },
    {
      "key": "GET /api/v1/api-keys",
      "method": "GET",
      "path": "/api/v1/api-keys",
      "operation_id": "CockroachCloud_ListApiKeys",
      "tag": "API Keys",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-access-organization",
      "op": "api_keys.list_api_keys"
    },
    {
      "key": "GET /api/v1/api-keys/{id}",
      "method": "GET",
      "path": "/api/v1/api-keys/{id}",
      "operation_id": "CockroachCloud_GetApiKey",
      "tag": "API Keys",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-access-organization",
      "op": "api_keys.get_api_key"
    },
    {
      "key": "GET /api/v1/auditlogevents",
      "method": "GET",
      "path": "/api/v1/auditlogevents",
      "operation_id": "CockroachCloud_ListAuditLogs",
      "tag": "Audit Logs",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-access-organization",
      "op": "audit_logs.list_audit_logs"
    },
    {
      "key": "GET /api/v1/cluster-versions",
      "method": "GET",
      "path": "/api/v1/cluster-versions",
      "operation_id": "CockroachCloud_ListMajorClusterVersions",
      "tag": "Clusters",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-clusters-data",
      "op": "clusters.list_major_cluster_versions"
    },
    {
      "key": "GET /api/v1/clusters",
      "method": "GET",
      "path": "/api/v1/clusters",
      "operation_id": "CockroachCloud_ListClusters",
      "tag": "Clusters",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-clusters-data",
      "op": "clusters.list_clusters"
    },
    {
      "key": "GET /api/v1/clusters/{cluster_id}",
      "method": "GET",
      "path": "/api/v1/clusters/{cluster_id}",
      "operation_id": "CockroachCloud_GetCluster",
      "tag": "Clusters",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-clusters-data",
      "op": "clusters.get_cluster"
    },
    {
      "key": "GET /api/v1/clusters/{cluster_id}/backups",
      "method": "GET",
      "path": "/api/v1/clusters/{cluster_id}/backups",
      "operation_id": "CockroachCloud_ListBackups",
      "tag": "Backup/Restore",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-clusters-data",
      "op": "backup_restore.list_backups"
    },
    {
      "key": "GET /api/v1/clusters/{cluster_id}/backups-config",
      "method": "GET",
      "path": "/api/v1/clusters/{cluster_id}/backups-config",
      "operation_id": "CockroachCloud_GetBackupConfiguration",
      "tag": "Backup/Restore",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-clusters-data",
      "op": "backup_restore.get_backup_configuration"
    },
    {
      "key": "GET /api/v1/clusters/{cluster_id}/blackout-windows",
      "method": "GET",
      "path": "/api/v1/clusters/{cluster_id}/blackout-windows",
      "operation_id": "CockroachCloud_ListBlackoutWindows",
      "tag": "Blackout Windows",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-clusters-data",
      "op": "blackout_windows.list_blackout_windows"
    },
    {
      "key": "GET /api/v1/clusters/{cluster_id}/blackout-windows/{blackout_window_id}",
      "method": "GET",
      "path": "/api/v1/clusters/{cluster_id}/blackout-windows/{blackout_window_id}",
      "operation_id": "CockroachCloud_GetBlackoutWindow",
      "tag": "Blackout Windows",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-clusters-data",
      "op": "blackout_windows.get_blackout_window"
    },
    {
      "key": "GET /api/v1/clusters/{cluster_id}/client-ca-cert",
      "method": "GET",
      "path": "/api/v1/clusters/{cluster_id}/client-ca-cert",
      "operation_id": "CockroachCloud_GetClientCACert",
      "tag": "Client CA Certificates",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-clusters-data",
      "op": "client_ca_certificates.get_client_cacert"
    },
    {
      "key": "GET /api/v1/clusters/{cluster_id}/cmek",
      "method": "GET",
      "path": "/api/v1/clusters/{cluster_id}/cmek",
      "operation_id": "CockroachCloud_GetCMEKClusterInfo",
      "tag": "Customer-managed Encryption Keys",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-clusters-data",
      "op": "customer_managed_encryption_keys.get_cmekcluster_info"
    },
    {
      "key": "GET /api/v1/clusters/{cluster_id}/connection-string",
      "method": "GET",
      "path": "/api/v1/clusters/{cluster_id}/connection-string",
      "operation_id": "CockroachCloud_GetConnectionString",
      "tag": "Clusters",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-clusters-data",
      "op": "clusters.get_connection_string"
    },
    {
      "key": "GET /api/v1/clusters/{cluster_id}/databases",
      "method": "GET",
      "path": "/api/v1/clusters/{cluster_id}/databases",
      "operation_id": "CockroachCloud_ListDatabases",
      "tag": "Databases",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-clusters-data",
      "op": "databases.list_databases"
    },
    {
      "key": "GET /api/v1/clusters/{cluster_id}/disrupt",
      "method": "GET",
      "path": "/api/v1/clusters/{cluster_id}/disrupt",
      "operation_id": "CockroachCloud_GetClusterDisruptionInfo",
      "tag": "Cluster Disruption",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-clusters-data",
      "op": "cluster_disruption.get_cluster_disruption_info"
    },
    {
      "key": "GET /api/v1/clusters/{cluster_id}/logexport",
      "method": "GET",
      "path": "/api/v1/clusters/{cluster_id}/logexport",
      "operation_id": "CockroachCloud_GetLogExportInfo",
      "tag": "Log Export",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-networking-observability",
      "op": "log_export.get_log_export_info"
    },
    {
      "key": "GET /api/v1/clusters/{cluster_id}/maintenance-window",
      "method": "GET",
      "path": "/api/v1/clusters/{cluster_id}/maintenance-window",
      "operation_id": "CockroachCloud_GetMaintenanceWindow",
      "tag": "Maintenance Windows",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-clusters-data",
      "op": "maintenance_windows.get_maintenance_window"
    },
    {
      "key": "GET /api/v1/clusters/{cluster_id}/metricexport/cloudwatch",
      "method": "GET",
      "path": "/api/v1/clusters/{cluster_id}/metricexport/cloudwatch",
      "operation_id": "CockroachCloud_GetCloudWatchMetricExportInfo",
      "tag": "Metric Export",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-networking-observability",
      "op": "metric_export.get_cloud_watch_metric_export_info"
    },
    {
      "key": "GET /api/v1/clusters/{cluster_id}/metricexport/datadog",
      "method": "GET",
      "path": "/api/v1/clusters/{cluster_id}/metricexport/datadog",
      "operation_id": "CockroachCloud_GetDatadogMetricExportInfo",
      "tag": "Metric Export",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-networking-observability",
      "op": "metric_export.get_datadog_metric_export_info"
    },
    {
      "key": "GET /api/v1/clusters/{cluster_id}/metricexport/prometheus",
      "method": "GET",
      "path": "/api/v1/clusters/{cluster_id}/metricexport/prometheus",
      "operation_id": "CockroachCloud_GetPrometheusMetricExportInfo",
      "tag": "Metric Export",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-networking-observability",
      "op": "metric_export.get_prometheus_metric_export_info"
    },
    {
      "key": "GET /api/v1/clusters/{cluster_id}/networking/allowlist",
      "method": "GET",
      "path": "/api/v1/clusters/{cluster_id}/networking/allowlist",
      "operation_id": "CockroachCloud_ListAllowlistEntries",
      "tag": "IP Allowlists",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-networking-observability",
      "op": "ip_allowlists.list_allowlist_entries"
    },
    {
      "key": "GET /api/v1/clusters/{cluster_id}/networking/aws-endpoint-connections",
      "method": "GET",
      "path": "/api/v1/clusters/{cluster_id}/networking/aws-endpoint-connections",
      "operation_id": "CockroachCloud_ListAwsEndpointConnections",
      "tag": "Private Endpoint Services",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-networking-observability",
      "op": "private_endpoint_services.list_aws_endpoint_connections"
    },
    {
      "key": "GET /api/v1/clusters/{cluster_id}/networking/egress-private-endpoints",
      "method": "GET",
      "path": "/api/v1/clusters/{cluster_id}/networking/egress-private-endpoints",
      "operation_id": "CockroachCloud_ListEgressPrivateEndpoints",
      "tag": "Egress Private Endpoints",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-networking-observability",
      "op": "egress_private_endpoints.list_egress_private_endpoints"
    },
    {
      "key": "GET /api/v1/clusters/{cluster_id}/networking/egress-private-endpoints/{id}",
      "method": "GET",
      "path": "/api/v1/clusters/{cluster_id}/networking/egress-private-endpoints/{id}",
      "operation_id": "CockroachCloud_GetEgressPrivateEndpoint",
      "tag": "Egress Private Endpoints",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-networking-observability",
      "op": "egress_private_endpoints.get_egress_private_endpoint"
    },
    {
      "key": "GET /api/v1/clusters/{cluster_id}/networking/egress-rules",
      "method": "GET",
      "path": "/api/v1/clusters/{cluster_id}/networking/egress-rules",
      "operation_id": "CockroachCloud_ListEgressRules",
      "tag": "Egress Rules",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-networking-observability",
      "op": "egress_rules.list_egress_rules"
    },
    {
      "key": "GET /api/v1/clusters/{cluster_id}/networking/egress-rules/{rule_id}",
      "method": "GET",
      "path": "/api/v1/clusters/{cluster_id}/networking/egress-rules/{rule_id}",
      "operation_id": "CockroachCloud_GetEgressRule",
      "tag": "Egress Rules",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-networking-observability",
      "op": "egress_rules.get_egress_rule"
    },
    {
      "key": "GET /api/v1/clusters/{cluster_id}/networking/private-endpoint-connections",
      "method": "GET",
      "path": "/api/v1/clusters/{cluster_id}/networking/private-endpoint-connections",
      "operation_id": "CockroachCloud_ListPrivateEndpointConnections",
      "tag": "Private Endpoint Services",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
          "Bearer": []
        }
      ],
      "request_body_required": false,
      "request_media": [],
      "success_status": "200",
      "response_media": [
        "application/json"
      ],
      "response_statuses": [
        "200",
        "400",
        "401",
        "403",
        "404",
        "500",
        "default"
      ],
      "selected": true,
      "exclusion": null,
      "exclusion_reason": null,
      "pack": "cockroachdb-cloud-networking-observability",
      "op": "private_endpoint_services.list_private_endpoint_connections"
    },
    {
      "key": "GET /api/v1/clusters/{cluster_id}/networking/private-endpoint-services",
      "method": "GET",
      "path": "/api/v1/clusters/{cluster_id}/networking/private-endpoint-services",
      "operation_id": "CockroachCloud_ListPrivateEndpointServices",
      "tag": "Private Endpoint Services",
      "deprecated": false,
      "versioned": true,
      "security": [
        {
[...]
