{
  "_extract": {
    "source": {
      "kind": "official_openapi",
      "url": "https://docs.confluent.io/cloud/current/openapi.yaml",
      "bytes": 2728766,
      "sha256": "a6a73f98a698dfba254e69466df63ba7fbf3bfb453fb2ae6ab09784bd6ea408d",
      "openapi": "3.0.0",
      "title": "Confluent Cloud APIs",
      "api_version": "",
      "official_path_count": 299,
      "retrieved_on": "2026-07-15",
      "last_modified_observed": "Wed, 15 Jul 2026 23:16:39 GMT",
      "mutability": "The vendor-hosted current URL is mutable. Generation fails closed unless its bytes and SHA-256 match this reviewed aggregate contract.",
      "declared_servers": [
        {
          "url": "https://api.confluent.cloud",
          "description": "Confluent Cloud API"
        }
      ],
      "security_schemes": {
        "cloud-api-key": {
          "type": "http",
          "scheme": "basic",
          "description": "Authenticate with Cloud API Keys using HTTP Basic Auth. Treat the Cloud API Key ID as the username and Cloud API Key Secret as the password."
        },
        "confluent-sts-access-token": {
          "type": "oauth2",
          "description": "Authenticate with Confluent API using this credentials (JSON Web Tokens) following OAuth 2.0.",
          "flows": {
            "clientCredentials": {
              "tokenUrl": "https://api.confluent.cloud/sts/v1/oauth2/token",
              "scopes": {}
            }
          }
        },
        "global-api-key": {
          "type": "http",
          "scheme": "basic",
          "description": "Authenticate with Global API Keys using HTTP Basic Auth. Treat the Global API Key ID as the username and Global API Key Secret as the password."
        },
        "resource-api-key": {
          "type": "http",
          "scheme": "basic",
          "description": "Authenticate with resource-specific API Keys using HTTP Basic Auth. Treat the resource-specific API Key ID as the username and resource-specific API Key Secret as the password."
        },
        "external-access-token": {
          "type": "oauth2",
          "description": "Authenticate with Confluent API using this credentials (JSON Web Tokens) following OAuth 2.0.",
          "flows": {
            "clientCredentials": {
              "tokenUrl": "https://api.confluent.cloud/sts/v1/oauth2/token",
              "scopes": {}
            }
          }
        },
        "oauth": {
          "type": "oauth2",
          "description": "Authenticate with OAuth 2.0. Currently this is only supported for partner APIs.",
          "flows": {
            "clientCredentials": {
              "tokenUrl": "/oauth2/token",
              "scopes": {
                "partner:alter": "enables partners to alter entitlements",
                "partner:create": "enables partners to create entitlements and signup on behalf of customers",
                "partner:delete": "enables partners to delete entitlements and organizations",
                "partner:describe": "enables partners to read and list entitlements and organizations"
              }
            }
          }
        }
      },
      "documentary_transport_evidence": {
        "cloud_and_resource_api_key_distinction": true,
        "basic_authorization_header": true,
        "opaque_page_token": true,
        "page_size_first_request_only": true,
        "dynamic_page_size_limits": true,
        "connect_and_kafka_v3_no_standard_pagination": true,
        "rate_limit_headers": [
          "X-RateLimit-Limit",
          "X-RateLimit-Remaining",
          "X-RateLimit-Reset",
          "Retry-After"
        ]
      }
    },
    "official_operation_count": 504,
    "nondeprecated_operation_count": 497,
    "admitted_operation_count": 493,
    "deprecated_operation_count": 7,
    "transport_exclusion_count": 4,
    "official_method_counts": {
      "DELETE": 78,
      "GET": 244,
      "PATCH": 48,
      "POST": 103,
      "PUT": 31
    },
    "admitted_method_counts": {
      "DELETE": 77,
      "GET": 239,
      "PATCH": 47,
      "POST": 100,
      "PUT": 30
    },
    "official_lifecycle_counts": {
      "Deprecated": 7,
      "Early Access": 26,
      "General Availability": 293,
      "Preview": 23,
      "Unspecified": 155
    },
    "admitted_lifecycle_counts": {
      "Early Access": 24,
      "General Availability": 291,
      "Preview": 23,
      "Unspecified": 155
    },
    "official_profile_counts": {
      "cloud": 292,
      "flink": 29,
      "kafka": 75,
      "partner": 8,
      "resource": 17,
      "schema": 80,
      "sql": 2,
      "sts": 1
    },
    "admitted_profile_counts": {
      "cloud": 283,
      "flink": 29,
      "kafka": 75,
      "partner": 8,
      "resource": 17,
      "schema": 80,
      "sts": 1
    },
    "official_tag_counts": {
      "Access Points (networking/v1)": 5,
      "ACL (v3)": 4,
      "Agents (sql/v1)": 5,
      "API Keys (iam/v2)": 5,
      "Applied Quotas (service-quota/v1)": 2,
      "Catalog Integrations (tableflow/v1)": 5,
      "Certificate Authorities (iam/v2)": 5,
      "Certificate Identity Pools (iam/v2)": 5,
      "Client Quotas (kafka-quotas/v1)": 5,
      "Cluster (v3)": 1,
      "Cluster Linking (v3)": 20,
      "Clusters (cmk/v2)": 5,
      "Clusters (ksqldbcm/v2)": 4,
      "Clusters (srcm/v2)": 5,
      "Clusters (srcm/v3)": 2,
      "Compatibility (v1)": 2,
      "Compute Pools (fcpm/v2)": 5,
      "Config (v1)": 7,
      "Configs (v3)": 17,
      "Connect Artifacts (cam/v1)": 4,
      "Connect Clusters (usm/v1)": 4,
      "Connections (sql/v1)": 5,
      "Connectors (connect/v1)": 7,
      "Consumer Group (v3)": 7,
      "Consumer Shared Resources (cdx/v1)": 4,
      "Consumer Shares (cdx/v1)": 3,
      "Contexts (v1)": 1,
      "Costs (billing/v1)": 1,
      "Custom Code Loggings (ccl/v1)": 5,
      "Custom Connect Plugin Versions (ccpm/v1)": 4,
      "Custom Connect Plugins (ccpm/v1)": 5,
      "Custom Connector Plugins (connect/v1)": 5,
      "Custom Connector Runtimes (connect/v1)": 1,
      "Data Encryption Keys (v1)": 9,
      "DNS Forwarders (networking/v1)": 5,
      "DNS Records (networking/v1)": 5,
      "Endpoints (endpoint/v1)": 1,
      "Entitlements (partner/v2)": 3,
      "Entity (v1)": 10,
      "Environments (org/v2)": 5,
      "Exporters (v1)": 11,
      "Flink Artifacts (artifact/v1)": 5,
      "Gateways (networking/v1)": 5,
      "Group Mappings (iam/v2/sso)": 5,
      "Identity Pools (iam/v2)": 5,
      "Identity Providers (iam/v2)": 5,
      "Integrations (notifications/v1)": 6,
      "Integrations (pim/v1)": 4,
      "Integrations (pim/v2)": 6,
      "Invitations (iam/v2)": 4,
      "IP Addresses (networking/v1)": 1,
      "IP Filter Summaries (iam/v2)": 1,
      "IP Filters (iam/v2)": 5,
      "IP Groups (iam/v2)": 5,
      "Jwks (iam/v2)": 1,
      "Kafka Clusters (usm/v1)": 4,
      "Key Encryption Keys (v1)": 7,
      "Keys (byok/v1)": 5,
      "Lifecycle (connect/v1)": 3,
      "Managed Connector Plugins (connect/v1)": 3,
      "Materialized Table Versions (sql/v1)": 2,
      "Materialized Tables (sql/v1)": 5,
      "Modes (v1)": 5,
      "Network Link Endpoints (networking/v1)": 5,
      "Network Link Service Associations (networking/v1)": 2,
      "Network Link Services (networking/v1)": 5,
      "Networks (networking/v1)": 5,
      "Notification Types (notifications/v1)": 2,
      "OAuth Tokens (sts/v1)": 1,
      "Offsets (connect/v1)": 3,
      "Opt Ins (cdx/v1)": 2,
      "Org Compute Pool Configs (fcpm/v2)": 2,
      "Organizations (org/v2)": 3,
      "Organizations (partner/v2)": 2,
      "Partition (v3)": 2,
      "Peerings (networking/v1)": 5,
      "Presigned Urls (artifact/v1)": 1,
      "Presigned Urls (cam/v1)": 1,
      "Presigned Urls (ccpm/v1)": 1,
      "Presigned Urls (connect/v1)": 1,
      "Private Link Accesses (networking/v1)": 5,
      "Private Link Attachment Connections (networking/v1)": 5,
      "Private Link Attachments (networking/v1)": 5,
      "Provider Shared Resources (cdx/v1)": 6,
      "Provider Shares (cdx/v1)": 5,
      "Records (v3)": 1,
      "Regions (fcpm/v2)": 1,
      "Regions (rtce/v1)": 1,
      "Regions (srcm/v2)": 2,
      "Regions (tableflow/v1)": 1,
      "Resource Preferences (notifications/v1)": 5,
      "Resource Subscriptions (notifications/v1)": 5,
      "Role Bindings (iam/v2)": 4,
      "Rtce Topics (rtce/v1)": 5,
      "Schemas (v1)": 6,
      "Scopes (service-quota/v1)": 2,
      "Search (v1)": 2,
      "Service Accounts (iam/v2)": 5,
      "Share Group (v3)": 6,
      "Shared Tokens (cdx/v1)": 2,
      "Signup (partner/v2)": 3,
      "Statement Exceptions (sql/v1)": 1,
      "Statement Results (sql/v1)": 1,
      "Statements (query/v1alpha1)": 2,
      "Statements (sql/v1)": 6,
      "Status (connect/v1)": 2,
      "Streams Group (v3)": 12,
      "Subjects (v1)": 10,
      "Subscriptions (notifications/v1)": 5,
      "Tableflow Topics (tableflow/v1)": 5,
      "Tools (sql/v1)": 4,
      "Topic (v3)": 5,
      "Transit Gateway Attachments (networking/v1)": 5,
      "Types (v1)": 10,
      "User Notifications (notifications/v1)": 5,
      "Users (iam/v2)": 5
    },
    "admitted_tag_counts": {
      "Access Points (networking/v1)": 5,
      "ACL (v3)": 4,
      "Agents (sql/v1)": 5,
      "API Keys (iam/v2)": 5,
      "Applied Quotas (service-quota/v1)": 2,
      "Catalog Integrations (tableflow/v1)": 5,
      "Certificate Authorities (iam/v2)": 5,
      "Certificate Identity Pools (iam/v2)": 5,
      "Client Quotas (kafka-quotas/v1)": 5,
      "Cluster (v3)": 1,
      "Cluster Linking (v3)": 20,
      "Clusters (cmk/v2)": 5,
      "Clusters (ksqldbcm/v2)": 4,
      "Clusters (srcm/v3)": 2,
      "Compatibility (v1)": 2,
      "Compute Pools (fcpm/v2)": 5,
      "Config (v1)": 7,
      "Configs (v3)": 17,
      "Connect Artifacts (cam/v1)": 4,
      "Connect Clusters (usm/v1)": 4,
      "Connections (sql/v1)": 5,
      "Connectors (connect/v1)": 7,
      "Consumer Group (v3)": 7,
      "Consumer Shared Resources (cdx/v1)": 4,
      "Consumer Shares (cdx/v1)": 3,
      "Contexts (v1)": 1,
      "Costs (billing/v1)": 1,
      "Custom Code Loggings (ccl/v1)": 5,
      "Custom Connect Plugin Versions (ccpm/v1)": 4,
      "Custom Connect Plugins (ccpm/v1)": 5,
      "Custom Connector Plugins (connect/v1)": 5,
      "Custom Connector Runtimes (connect/v1)": 1,
      "Data Encryption Keys (v1)": 9,
      "DNS Forwarders (networking/v1)": 5,
      "DNS Records (networking/v1)": 5,
      "Endpoints (endpoint/v1)": 1,
      "Entitlements (partner/v2)": 3,
      "Entity (v1)": 10,
      "Environments (org/v2)": 5,
      "Exporters (v1)": 11,
      "Flink Artifacts (artifact/v1)": 5,
      "Gateways (networking/v1)": 5,
      "Group Mappings (iam/v2/sso)": 5,
      "Identity Pools (iam/v2)": 5,
      "Identity Providers (iam/v2)": 5,
      "Integrations (notifications/v1)": 6,
      "Integrations (pim/v1)": 4,
      "Integrations (pim/v2)": 6,
      "Invitations (iam/v2)": 4,
      "IP Addresses (networking/v1)": 1,
      "IP Filter Summaries (iam/v2)": 1,
      "IP Filters (iam/v2)": 5,
      "IP Groups (iam/v2)": 5,
      "Jwks (iam/v2)": 1,
      "Kafka Clusters (usm/v1)": 4,
      "Key Encryption Keys (v1)": 7,
      "Keys (byok/v1)": 5,
      "Lifecycle (connect/v1)": 3,
      "Managed Connector Plugins (connect/v1)": 2,
      "Materialized Table Versions (sql/v1)": 2,
      "Materialized Tables (sql/v1)": 5,
      "Modes (v1)": 5,
      "Network Link Endpoints (networking/v1)": 5,
      "Network Link Service Associations (networking/v1)": 2,
      "Network Link Services (networking/v1)": 5,
      "Networks (networking/v1)": 5,
      "Notification Types (notifications/v1)": 2,
      "OAuth Tokens (sts/v1)": 1,
      "Offsets (connect/v1)": 3,
      "Opt Ins (cdx/v1)": 2,
      "Org Compute Pool Configs (fcpm/v2)": 2,
      "Organizations (org/v2)": 3,
      "Organizations (partner/v2)": 2,
      "Partition (v3)": 2,
      "Peerings (networking/v1)": 5,
      "Presigned Urls (artifact/v1)": 1,
      "Presigned Urls (cam/v1)": 1,
      "Presigned Urls (ccpm/v1)": 1,
      "Presigned Urls (connect/v1)": 1,
      "Private Link Accesses (networking/v1)": 5,
      "Private Link Attachment Connections (networking/v1)": 5,
      "Private Link Attachments (networking/v1)": 5,
      "Provider Shared Resources (cdx/v1)": 5,
      "Provider Shares (cdx/v1)": 5,
      "Records (v3)": 1,
      "Regions (fcpm/v2)": 1,
      "Regions (rtce/v1)": 1,
      "Regions (tableflow/v1)": 1,
      "Resource Preferences (notifications/v1)": 5,
      "Resource Subscriptions (notifications/v1)": 5,
      "Role Bindings (iam/v2)": 4,
      "Rtce Topics (rtce/v1)": 5,
      "Schemas (v1)": 6,
      "Scopes (service-quota/v1)": 2,
      "Search (v1)": 2,
      "Service Accounts (iam/v2)": 5,
      "Share Group (v3)": 6,
      "Shared Tokens (cdx/v1)": 2,
      "Signup (partner/v2)": 3,
      "Statement Exceptions (sql/v1)": 1,
      "Statement Results (sql/v1)": 1,
      "Statements (sql/v1)": 6,
      "Status (connect/v1)": 2,
      "Streams Group (v3)": 12,
      "Subjects (v1)": 10,
      "Subscriptions (notifications/v1)": 5,
      "Tableflow Topics (tableflow/v1)": 5,
      "Tools (sql/v1)": 4,
      "Topic (v3)": 5,
      "Transit Gateway Attachments (networking/v1)": 5,
      "Types (v1)": 10,
      "User Notifications (notifications/v1)": 5,
      "Users (iam/v2)": 5
    },
    "pack_operation_counts": {
      "confluent-cloud-identity-access": 60,
      "confluent-cloud-networking": 64,
      "confluent-cloud-clusters-compute": 37,
      "confluent-cloud-connectors-artifacts": 54,
      "confluent-cloud-notifications-sharing": 68,
      "confluent-resource-tableflow": 17,
      "confluent-kafka-cluster": 75,
      "confluent-schema-registry": 80,
      "confluent-flink-sql": 29,
      "confluent-partner": 8,
      "confluent-sts": 1
    },
    "composition_bytes": {
      "confluent-cloud-identity-access": 125925,
      "confluent-cloud-networking": 172439,
      "confluent-cloud-clusters-compute": 87354,
      "confluent-cloud-connectors-artifacts": 124408,
      "confluent-cloud-notifications-sharing": 149067,
      "confluent-resource-tableflow": 45929,
      "confluent-kafka-cluster": 168829,
      "confluent-schema-registry": 141646,
      "confluent-flink-sql": 82231,
      "confluent-partner": 18970,
      "confluent-sts": 2871
    },
    "body_mode_counts": {
      "none": 327,
      "raw_json": 165,
      "structured_form": 1
    },
    "response_body_mode_counts": {
      "file_ref": 2,
      "json": 390,
      "none": 92,
      "vendor_json_text": 9
    },
    "success_status_counts": {
      "200": 349,
      "201": 35,
      "202": 30,
      "204": 79
    },
    "risk_counts": {
      "admin": 149,
      "destructive": 98,
      "read": 246
    },
    "approval_counts": {
      "always": 247,
      "never": 246
    },
    "idempotency_counts": {
      "idempotent": 153,
      "non_idempotent": 94,
      "safe": 246
    },
    "profiles": {
      "cloud": {
        "base": "https://api.confluent.cloud",
        "server": "https://api.confluent.cloud",
        "connection": "confluent-cloud",
        "permission": "read_connection_confluent_cloud",
        "requirement": {
          "api_base": "https://api.confluent.cloud",
          "per_org": true,
          "vendor": "confluent_cloud",
          "auth": {
            "type": "basic"
          }
        },
        "auth_label": "Cloud API key ID and secret through connection-owned HTTP Basic authentication"
      },
      "resource": {
        "base": "https://api.confluent.cloud",
        "server": "https://api.confluent.cloud",
        "connection": "confluent-resource",
        "permission": "read_connection_confluent_resource",
        "requirement": {
          "api_base": "https://api.confluent.cloud",
          "per_org": true,
          "vendor": "confluent_resource",
          "auth": {
            "type": "basic"
          }
        },
        "auth_label": "resource API key ID and secret through connection-owned HTTP Basic authentication"
      },
      "kafka": {
        "base": "https://pkc-00000.region.provider.confluent.cloud",
        "server": "https://pkc-00000.region.provider.confluent.cloud",
        "connection": "confluent-kafka",
        "permission": "read_connection_confluent_kafka",
        "requirement": {
          "api_base": "https://pkc-00000.region.provider.confluent.cloud",
          "per_org": true,
          "vendor": "confluent_kafka",
          "auth": {
            "type": "basic"
          }
        },
        "auth_label": "Kafka resource API key ID and secret through connection-owned HTTP Basic authentication"
      },
      "schema": {
        "base": "https://psrc-00000.region.provider.confluent.cloud",
        "server": "https://psrc-00000.region.provider.confluent.cloud",
        "connection": "confluent-schema-registry",
        "permission": "read_connection_confluent_schema_registry",
        "requirement": {
          "api_base": "https://psrc-00000.region.provider.confluent.cloud",
          "per_org": true,
          "vendor": "confluent_schema_registry",
          "auth": {
            "type": "basic"
          }
        },
        "auth_label": "Schema Registry resource API key ID and secret through connection-owned HTTP Basic authentication"
      },
      "flink": {
        "base": "https://flink.region.provider.confluent.cloud",
        "server": "https://flink.region.provider.confluent.cloud",
        "connection": "confluent-flink",
        "permission": "read_connection_confluent_flink",
        "requirement": {
          "api_base": "https://flink.region.provider.confluent.cloud",
          "per_org": true,
          "vendor": "confluent_flink",
          "auth": {
            "type": "basic"
          }
        },
        "auth_label": "Flink resource API key ID and secret through connection-owned HTTP Basic authentication"
      },
      "partner": {
        "base": "https://api.confluent.cloud",
        "server": "https://api.confluent.cloud",
        "connection": "confluent-partner",
        "permission": "read_connection_confluent_partner",
        "requirement": {
          "api_base": "https://api.confluent.cloud",
          "per_org": true,
          "vendor": "confluent_partner",
          "auth": {
            "type": "bearer"
          }
        },
        "auth_label": "partner OAuth access token through connection-owned Bearer authentication"
      },
      "sts": {
        "base": "https://api.confluent.cloud",
        "server": "https://api.confluent.cloud",
        "connection": "confluent-sts",
        "permission": "read_connection_confluent_sts",
        "requirement": {
          "api_base": "https://api.confluent.cloud",
          "per_org": true,
          "vendor": "confluent_sts",
          "auth": {
            "type": "none"
          }
        },
        "auth_label": "an unauthenticated origin-pinning connection; token material stays in the request body"
      }
    },
    "pagination": {
      "automatic_operation_count": 72,
      "next_link_example_count": 72,
      "style": "query_token_link",
      "result_path_counts": {
        "data": 71,
        "results.data": 1
      },
      "operation_keys": [
        "GET /artifact/v1/flink-artifacts",
        "GET /billing/v1/costs",
        "GET /byok/v1/keys",
        "GET /cam/v1/connect-artifacts",
        "GET /ccl/v1/custom-code-loggings",
        "GET /ccpm/v1/plugins",
        "GET /cdx/v1/consumer-shared-resources",
        "GET /cdx/v1/consumer-shares",
        "GET /cdx/v1/provider-shared-resources",
        "GET /cdx/v1/provider-shares",
        "GET /cmk/v2/clusters",
        "GET /connect/v1/custom-connector-plugins",
        "GET /connect/v1/custom-connector-runtimes",
        "GET /endpoint/v1/endpoints",
        "GET /fcpm/v2/compute-pools",
        "GET /fcpm/v2/regions",
        "GET /iam/v2/api-keys",
        "GET /iam/v2/certificate-authorities",
        "GET /iam/v2/certificate-authorities/{certificate_authority_id}/identity-pools",
        "GET /iam/v2/identity-providers",
        "GET /iam/v2/identity-providers/{provider_id}/identity-pools",
        "GET /iam/v2/invitations",
        "GET /iam/v2/ip-filters",
        "GET /iam/v2/ip-groups",
        "GET /iam/v2/role-bindings",
        "GET /iam/v2/service-accounts",
        "GET /iam/v2/sso/group-mappings",
        "GET /iam/v2/users",
        "GET /kafka-quotas/v1/client-quotas",
        "GET /ksqldbcm/v2/clusters",
        "GET /networking/v1/access-points",
        "GET /networking/v1/dns-forwarders",
        "GET /networking/v1/dns-records",
        "GET /networking/v1/gateways",
        "GET /networking/v1/ip-addresses",
        "GET /networking/v1/network-link-endpoints",
        "GET /networking/v1/network-link-service-associations",
        "GET /networking/v1/network-link-services",
        "GET /networking/v1/networks",
        "GET /networking/v1/peerings",
        "GET /networking/v1/private-link-accesses",
        "GET /networking/v1/private-link-attachment-connections",
        "GET /networking/v1/private-link-attachments",
        "GET /networking/v1/transit-gateway-attachments",
        "GET /notifications/v1/integrations",
        "GET /notifications/v1/notification-types",
        "GET /notifications/v1/resource-subscriptions:lookup",
        "GET /notifications/v1/subscriptions",
        "GET /notifications/v1/user-notifications",
        "GET /org/v2/environments",
        "GET /org/v2/organizations",
        "GET /partner/v2/entitlements",
        "GET /partner/v2/organizations",
        "GET /pim/v1/integrations",
        "GET /pim/v2/integrations",
        "GET /rtce/v1/regions",
        "GET /rtce/v1/rtce-topics",
        "GET /service-quota/v1/applied-quotas",
        "GET /service-quota/v1/scopes",
        "GET /sql/v1/organizations/{organization_id}/environments/{environment_id}/agents",
        "GET /sql/v1/organizations/{organization_id}/environments/{environment_id}/connections",
        "GET /sql/v1/organizations/{organization_id}/environments/{environment_id}/databases/{database_name}/tools",
        "GET /sql/v1/organizations/{organization_id}/environments/{environment_id}/databases/{kafka_cluster_id}/materialized-tables/{table_name}/versions",
        "GET /sql/v1/organizations/{organization_id}/environments/{environment_id}/materialized-tables",
        "GET /sql/v1/organizations/{organization_id}/environments/{environment_id}/statements",
        "GET /sql/v1/organizations/{organization_id}/environments/{environment_id}/statements/{name}/results",
        "GET /srcm/v3/clusters",
        "GET /tableflow/v1/catalog-integrations",
        "GET /tableflow/v1/regions",
        "GET /tableflow/v1/tableflow-topics",
        "GET /usm/v1/connect-clusters",
        "GET /usm/v1/kafka-clusters"
      ],
      "false_positive_page_parameter_keys": [
        "GET /notifications/v1/resource-preferences:lookup"
      ]
    },
    "authority_notes": {
      "exact_path_parameter_contract": true,
      "operation_id_uniqueness": true,
      "official_request_body_required_count": 18,
      "effective_request_body_required_count": 166,
      "json_body_operation_count": 165,
      "structured_form_operation_count": 1,
      "binary_capture_operation_count": 2,
      "vendor_json_text_operation_count": 9,
      "schema_registry_security_omission_count": 22,
      "literal_query_path_operation_keys": [
        "GET /connect/v1/environments/{environment_id}/clusters/{kafka_cluster_id}/connectors?expand=info,status,id"
      ],
      "exact_decimal_parameters": [
        "GET /artifact/v1/flink-artifacts:page_size",
        "GET /billing/v1/costs:page_size",
        "GET /byok/v1/keys:page_size",
        "GET /cam/v1/connect-artifacts:page_size",
        "GET /catalog/v1/search/attribute:limit",
        "GET /catalog/v1/search/attribute:offset",
        "GET /catalog/v1/search/basic:limit",
        "GET /catalog/v1/search/basic:offset",
        "GET /ccl/v1/custom-code-loggings:page_size",
        "GET /ccpm/v1/plugins:page_size",
        "GET /cdx/v1/consumer-shared-resources:page_size",
        "GET /cdx/v1/consumer-shares:page_size",
        "GET /cdx/v1/provider-shared-resources:page_size",
        "GET /cdx/v1/provider-shares:page_size",
        "GET /cmk/v2/clusters:page_size",
        "GET /connect/v1/custom-connector-plugins:page_size",
        "GET /connect/v1/custom-connector-runtimes:page_size",
        "GET /contexts:limit",
        "GET /contexts:offset",
        "GET /dek-registry/v1/keks/{name}/deks/{subject}/versions:limit",
        "GET /dek-registry/v1/keks/{name}/deks/{subject}/versions:offset",
        "GET /dek-registry/v1/keks/{name}/deks:limit",
        "GET /dek-registry/v1/keks/{name}/deks:offset",
        "GET /endpoint/v1/endpoints:page_size",
        "GET /fcpm/v2/compute-pools:page_size",
        "GET /fcpm/v2/regions:page_size",
        "GET /iam/v2/api-keys:page_size",
        "GET /iam/v2/certificate-authorities/{certificate_authority_id}/identity-pools:page_size",
        "GET /iam/v2/certificate-authorities:page_size",
        "GET /iam/v2/identity-providers/{provider_id}/identity-pools:page_size",
        "GET /iam/v2/identity-providers:page_size",
        "GET /iam/v2/invitations:page_size",
        "GET /iam/v2/ip-filters:page_size",
        "GET /iam/v2/ip-groups:page_size",
        "GET /iam/v2/role-bindings:page_size",
        "GET /iam/v2/service-accounts:page_size",
        "GET /iam/v2/sso/group-mappings:page_size",
        "GET /iam/v2/users:page_size",
        "GET /kafka-quotas/v1/client-quotas:page_size",
        "GET /kafka/v3/clusters/{cluster_id}/consumer-groups/{consumer_group_id}/lags/{topic_name}/partitions/{partition_id}:partition_id",
        "GET /kafka/v3/clusters/{cluster_id}/topics/{topic_name}/partitions/{partition_id}:partition_id",
        "GET /ksqldbcm/v2/clusters:page_size",
        "GET /networking/v1/access-points:page_size",
        "GET /networking/v1/dns-forwarders:page_size",
        "GET /networking/v1/dns-records:page_size",
        "GET /networking/v1/gateways:page_size",
        "GET /networking/v1/ip-addresses:page_size",
        "GET /networking/v1/network-link-endpoints:page_size",
        "GET /networking/v1/network-link-service-associations:page_size",
        "GET /networking/v1/network-link-services:page_size",
        "GET /networking/v1/networks:page_size",
        "GET /networking/v1/peerings:page_size",
        "GET /networking/v1/private-link-accesses:page_size",
        "GET /networking/v1/private-link-attachment-connections:page_size",
        "GET /networking/v1/private-link-attachments:page_size",
        "GET /networking/v1/transit-gateway-attachments:page_size",
        "GET /notifications/v1/integrations:page_size",
        "GET /notifications/v1/notification-types:page_size",
        "GET /notifications/v1/resource-preferences:lookup:page_size",
        "GET /notifications/v1/resource-subscriptions:lookup:page_size",
        "GET /notifications/v1/subscriptions:page_size",
        "GET /notifications/v1/user-notifications:page_size",
        "GET /org/v2/environments:page_size",
        "GET /org/v2/organizations:page_size",
        "GET /partner/v2/entitlements:page_size",
        "GET /partner/v2/organizations:page_size",
        "GET /pim/v1/integrations:page_size",
        "GET /pim/v2/integrations:page_size",
        "GET /rtce/v1/regions:page_size",
        "GET /rtce/v1/rtce-topics:page_size",
        "GET /schemas/ids/{id}/schema:id",
        "GET /schemas/ids/{id}/subjects:id",
        "GET /schemas/ids/{id}/subjects:limit",
        "GET /schemas/ids/{id}/subjects:offset",
        "GET /schemas/ids/{id}/versions:id",
        "GET /schemas/ids/{id}/versions:limit",
        "GET /schemas/ids/{id}/versions:offset",
        "GET /schemas/ids/{id}:id",
        "GET /schemas:limit",
        "GET /schemas:offset",
        "GET /service-quota/v1/applied-quotas:page_size",
        "GET /service-quota/v1/scopes:page_size",
        "GET /sql/v1/organizations/{organization_id}/environments/{environment_id}/agents:page_size",
        "GET /sql/v1/organizations/{organization_id}/environments/{environment_id}/connections:page_size",
        "GET /sql/v1/organizations/{organization_id}/environments/{environment_id}/databases/{database_name}/tools:page_size",
        "GET /sql/v1/organizations/{organization_id}/environments/{environment_id}/databases/{kafka_cluster_id}/materialized-tables/{table_name}/versions/{version}:version",
        "GET /sql/v1/organizations/{organization_id}/environments/{environment_id}/databases/{kafka_cluster_id}/materialized-tables/{table_name}/versions:page_size",
        "GET /sql/v1/organizations/{organization_id}/environments/{environment_id}/materialized-tables:page_size",
        "GET /sql/v1/organizations/{organization_id}/environments/{environment_id}/statements:page_size",
        "GET /srcm/v3/clusters:page_size",
        "GET /subjects/{subject}/versions/{version}/referencedby:limit",
        "GET /subjects/{subject}/versions/{version}/referencedby:offset",
        "GET /subjects/{subject}/versions:limit",
        "GET /subjects/{subject}/versions:offset",
        "GET /subjects:limit",
        "GET /subjects:offset",
        "GET /tableflow/v1/catalog-integrations:page_size",
        "GET /tableflow/v1/regions:page_size",
        "GET /tableflow/v1/tableflow-topics:page_size",
        "GET /usm/v1/connect-clusters:page_size",
        "GET /usm/v1/kafka-clusters:page_size"
      ],
      "repeated_query_array_parameters": [
        "GET /catalog/v1/search/attribute:attr",
        "GET /catalog/v1/search/attribute:attrName",
        "GET /catalog/v1/search/attribute:attrValuePrefix",
        "GET /catalog/v1/search/attribute:type",
        "GET /catalog/v1/search/basic:attr",
        "GET /catalog/v1/search/basic:type",
        "GET /cmk/v2/clusters:spec.network",
        "GET /iam/v2/service-accounts:display_name",
        "GET /networking/v1/access-points:id",
        "GET /networking/v1/access-points:spec.display_name",
        "GET /networking/v1/access-points:spec.gateway",
        "GET /networking/v1/dns-records:resource",
        "GET /networking/v1/dns-records:spec.display_name",
        "GET /networking/v1/dns-records:spec.domain",
        "GET /networking/v1/dns-records:spec.gateway",
        "GET /networking/v1/gateways:gateway_type",
        "GET /networking/v1/gateways:id",
        "GET /networking/v1/gateways:spec.config.region",
        "GET /networking/v1/gateways:spec.display_name",
        "GET /networking/v1/gateways:status.phase",
        "GET /networking/v1/ip-addresses:address_type",
        "GET /networking/v1/ip-addresses:cloud",
        "GET /networking/v1/ip-addresses:region",
        "GET /networking/v1/ip-addresses:services",
        "GET /networking/v1/network-link-endpoints:spec.display_name",
        "GET /networking/v1/network-link-endpoints:spec.network",
        "GET /networking/v1/network-link-endpoints:spec.network_link_service",
        "GET /networking/v1/network-link-endpoints:status.phase",
        "GET /networking/v1/network-link-service-associations:status.phase",
        "GET /networking/v1/network-link-services:spec.display_name",
        "GET /networking/v1/network-link-services:spec.network",
        "GET /networking/v1/network-link-services:status.phase",
        "GET /networking/v1/networks:spec.cidr",
        "GET /networking/v1/networks:spec.cloud",
        "GET /networking/v1/networks:spec.connection_types",
        "GET /networking/v1/networks:spec.display_name",
        "GET /networking/v1/networks:spec.region",
        "GET /networking/v1/networks:status.phase",
        "GET /networking/v1/peerings:spec.display_name",
        "GET /networking/v1/peerings:spec.network",
        "GET /networking/v1/peerings:status.phase",
        "GET /networking/v1/private-link-accesses:spec.display_name",
        "GET /networking/v1/private-link-accesses:spec.network",
        "GET /networking/v1/private-link-accesses:status.phase",
        "GET /networking/v1/private-link-attachments:spec.cloud",
        "GET /networking/v1/private-link-attachments:spec.display_name",
        "GET /networking/v1/private-link-attachments:spec.region",
        "GET /networking/v1/private-link-attachments:status.phase",
        "GET /networking/v1/transit-gateway-attachments:spec.display_name",
        "GET /networking/v1/transit-gateway-attachments:spec.network",
        "GET /networking/v1/transit-gateway-attachments:status.phase",
        "GET /notifications/v1/user-notifications:resource.crn",
        "GET /notifications/v1/user-notifications:resource.type",
        "GET /notifications/v1/user-notifications:severity",
        "GET /tableflow/v1/tableflow-topics:spec.table_formats",
        "PATCH /notifications/v1/user-notifications:mark-all:resource.crn",
        "PATCH /notifications/v1/user-notifications:mark-all:resource.type",
        "PATCH /notifications/v1/user-notifications:mark-all:severity"
      ],
      "csv_path_array_parameters": [],
      "bounded_array_parameter_count": 59,
      "array_parameter_safety_max_items": 256,
      "dropped_vendor_patterns": [],
      "read_only_non_get_operation_keys": [
        "POST /cdx/v1/shared-tokens:resources",
        "POST /compatibility/subjects/{subject}/versions",
        "POST /compatibility/subjects/{subject}/versions/{version}",
        "POST /dek-registry/v1/keks/{name}/test",
        "POST /pim/v2/integrations:validate",
        "POST /subjects/{subject}",
        "PUT /connect/v1/environments/{environment_id}/clusters/{kafka_cluster_id}/connector-plugins/{plugin_name}/config/validate"
      ],
      "empty_success_operation_count": 92
    },
    "source_decision": {
      "admitted": false,
      "candidates": [
        "task",
        "note",
        "project"
      ],
      "reason": "Confluent exposes infrastructure, streaming, schema, catalog, SQL, identity, network, and billing resources. Kafka records and Flink results are arbitrary customer data rather than semantically honest Recued tasks, notes, or projects, and the aggregate authority proves no durable version plus deletion contract for such a Source."
    },
    "audit_findings_folded": [
      {
        "severity": "high",
        "finding": "The aggregate contract spans four origins and incompatible Cloud, resource, partner, and no-auth credential models.",
        "resolution": "Split the suite into eleven one-ingredient leaves over seven separately enrolled connection profiles; no credential is replayed across an origin or auth family."
      },
      {
        "severity": "high",
        "finding": "One provider-share image upload requires arbitrary image/* request bytes, but the REST binding has no file_ref-to-binary upload mode.",
        "resolution": "Excluded exactly that operation instead of corrupting binary bytes through a text body; all other current operations remain admitted."
      },
      {
        "severity": "high",
        "finding": "Two Connect OpenAPI path keys illegally embed fixed query text for response expansion and sensitive-field masking.",
        "resolution": "Preserved each exact openapi_path for documentary proof while moving expand=info,status,id and mask_sensitive=true into immutable runtime static_query entries."
      },
      {
        "severity": "high",
        "finding": "Twenty-two Schema Registry Data Catalog operations omit security even though the same aggregate authority says unauthenticated API requests fail.",
        "resolution": "Kept them on the Schema Registry endpoint and resource-key connection, and made the documentary discrepancy explicit rather than declaring them public."
      },
      {
        "severity": "medium",
        "finding": "Nine exporter operations advertise only application/vnd.schemaregistry.v1+json, while the current connection adapter JSON-parses only application/json.",
        "resolution": "Admitted the calls with their exact vendor media and an honest string response contract; no object result_path or parsed-JSON claim is made."
      },
      {
        "severity": "medium",
        "finding": "Confluent says page-size limits are dynamic and page_size is valid only on the first request, but automatic replay reuses first-page inputs.",
        "resolution": "Withheld both page_size and page_token from callers and walks only the opaque page_token extracted from metadata.next, using provider defaults and no invented maximum."
      },
      {
        "severity": "medium",
        "finding": "Only eighteen of 165 admitted request bodies set requestBody.required even though the operations need a payload.",
        "resolution": "Requires every JSON body as bounded complete body_raw and preserves nested JSON verbatim; the STS form exposes only dynamic fields and locks its three RFC 8693 constants."
      },
      {
        "severity": "medium",
        "finding": "Unbounded OpenAPI integer parameters can exceed JavaScript's exact-number range.",
        "resolution": "Projects every unbounded integer parameter to a validated exact decimal string and enables unsafe-integer response preservation on parsed JSON operations."
      },
      {
        "severity": "medium",
        "finding": "Fifty-two admitted array parameters omit a provider maximum, but the closed request-schema gate requires an explicit collection bound.",
        "resolution": "Applies a Recued 256-item request safety ceiling, preserves repeated-key serialization, and never presents that implementation bound as a Confluent limit."
      },
      {
        "severity": "medium",
        "finding": "Seven srcm/v2 operations are explicitly provider-deprecated.",
        "resolution": "Records and excludes the exact deprecated set while retaining current srcm/v3 coverage."
      }
    ],
    "workflows": [
      {
        "recipe_id": "list-iam-v2-api-keys-confluent",
        "operation_id": "listIamV2ApiKeys",
        "key": "GET /iam/v2/api-keys",
        "pack": "confluent-cloud-identity-access",
        "profile": "cloud",
        "op": "api_keys_iam_v2.list_iam_v2_api_keys",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-org-v2-environments-confluent",
        "operation_id": "listOrgV2Environments",
        "key": "GET /org/v2/environments",
        "pack": "confluent-cloud-notifications-sharing",
        "profile": "cloud",
        "op": "environments_org_v2.list_org_v2_environments",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-org-v2-organizations-confluent",
        "operation_id": "listOrgV2Organizations",
        "key": "GET /org/v2/organizations",
        "pack": "confluent-cloud-notifications-sharing",
        "profile": "cloud",
        "op": "organizations_org_v2.list_org_v2_organizations",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-iam-v2-users-confluent",
        "operation_id": "listIamV2Users",
        "key": "GET /iam/v2/users",
        "pack": "confluent-cloud-identity-access",
        "profile": "cloud",
        "op": "users_iam_v2.list_iam_v2_users",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-iam-v2-service-accounts-confluent",
        "operation_id": "listIamV2ServiceAccounts",
        "key": "GET /iam/v2/service-accounts",
        "pack": "confluent-cloud-identity-access",
        "profile": "cloud",
        "op": "service_accounts_iam_v2.list_iam_v2_service_accounts",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-iam-v2-invitations-confluent",
        "operation_id": "listIamV2Invitations",
        "key": "GET /iam/v2/invitations",
        "pack": "confluent-cloud-identity-access",
        "profile": "cloud",
        "op": "invitations_iam_v2.list_iam_v2_invitations",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-iam-v2-ip-groups-confluent",
        "operation_id": "listIamV2IpGroups",
        "key": "GET /iam/v2/ip-groups",
        "pack": "confluent-cloud-identity-access",
        "profile": "cloud",
        "op": "ip_groups_iam_v2.list_iam_v2_ip_groups",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-iam-v2-ip-filters-confluent",
        "operation_id": "listIamV2IpFilters",
        "key": "GET /iam/v2/ip-filters",
        "pack": "confluent-cloud-identity-access",
        "profile": "cloud",
        "op": "ip_filters_iam_v2.list_iam_v2_ip_filters",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-iam-v2-role-bindings-confluent",
        "operation_id": "listIamV2RoleBindings",
        "key": "GET /iam/v2/role-bindings",
        "pack": "confluent-cloud-identity-access",
        "profile": "cloud",
        "op": "role_bindings_iam_v2.list_iam_v2_role_bindings",
        "required_args": [
          "query.crn_pattern"
        ],
        "supplied_args": [
          "query.crn_pattern"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-notifications-v1-subscriptions-confluent",
        "operation_id": "listNotificationsV1Subscriptions",
        "key": "GET /notifications/v1/subscriptions",
        "pack": "confluent-cloud-notifications-sharing",
        "profile": "cloud",
        "op": "subscriptions_notifications_v1.list_notifications_v1_subscriptions",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-notifications-v1-integrations-confluent",
        "operation_id": "listNotificationsV1Integrations",
        "key": "GET /notifications/v1/integrations",
        "pack": "confluent-cloud-notifications-sharing",
        "profile": "cloud",
        "op": "integrations_notifications_v1.list_notifications_v1_integrations",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-notifications-v1-notification-types-confluent",
        "operation_id": "listNotificationsV1NotificationTypes",
        "key": "GET /notifications/v1/notification-types",
        "pack": "confluent-cloud-notifications-sharing",
        "profile": "cloud",
        "op": "notification_types_notifications_v1.list_notifications_v1_notification_types",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-notifications-v1-resource-subscriptions-by-filter-confluent",
        "operation_id": "listNotificationsV1ResourceSubscriptionsByFilter",
        "key": "GET /notifications/v1/resource-subscriptions:lookup",
        "pack": "confluent-cloud-notifications-sharing",
        "profile": "cloud",
        "op": "resource_subscriptions_notifications_v1.list_notifications_v1_resource_subscriptions_by_filter",
        "required_args": [
          "query.resource",
          "query.resource_type"
        ],
        "supplied_args": [
          "query.resource",
          "query.resource_type"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-notifications-v1-user-notifications-confluent",
        "operation_id": "listNotificationsV1UserNotifications",
        "key": "GET /notifications/v1/user-notifications",
        "pack": "confluent-cloud-notifications-sharing",
        "profile": "cloud",
        "op": "user_notifications_notifications_v1.list_notifications_v1_user_notifications",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-cmk-v2-clusters-confluent",
        "operation_id": "listCmkV2Clusters",
        "key": "GET /cmk/v2/clusters",
        "pack": "confluent-cloud-clusters-compute",
        "profile": "cloud",
        "op": "clusters_cmk_v2.list_cmk_v2_clusters",
        "required_args": [
          "query.environment"
        ],
        "supplied_args": [
          "query.environment"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-ksqldbcm-v2-clusters-confluent",
        "operation_id": "listKsqldbcmV2Clusters",
        "key": "GET /ksqldbcm/v2/clusters",
        "pack": "confluent-cloud-clusters-compute",
        "profile": "cloud",
        "op": "clusters_ksqldbcm_v2.list_ksqldbcm_v2_clusters",
        "required_args": [
          "query.environment"
        ],
        "supplied_args": [
          "query.environment"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-cam-v1-connect-artifacts-confluent",
        "operation_id": "listCamV1ConnectArtifacts",
        "key": "GET /cam/v1/connect-artifacts",
        "pack": "confluent-cloud-connectors-artifacts",
        "profile": "cloud",
        "op": "connect_artifacts_cam_v1.list_cam_v1_connect_artifacts",
        "required_args": [
          "query.spec.cloud",
          "query.environment"
        ],
        "supplied_args": [
          "query.spec.cloud",
          "query.environment"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-connect-v1-custom-connector-plugins-confluent",
        "operation_id": "listConnectV1CustomConnectorPlugins",
        "key": "GET /connect/v1/custom-connector-plugins",
        "pack": "confluent-cloud-connectors-artifacts",
        "profile": "cloud",
        "op": "custom_connector_plugins_connect_v1.list_connect_v1_custom_connector_plugins",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-connect-v1-custom-connector-runtimes-confluent",
        "operation_id": "listConnectV1CustomConnectorRuntimes",
        "key": "GET /connect/v1/custom-connector-runtimes",
        "pack": "confluent-cloud-connectors-artifacts",
        "profile": "cloud",
        "op": "custom_connector_runtimes_connect_v1.list_connect_v1_custom_connector_runtimes",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "get-kafka-cluster-confluent",
        "operation_id": "getKafkaCluster",
        "key": "GET /kafka/v3/clusters/{cluster_id}",
        "pack": "confluent-kafka-cluster",
        "profile": "kafka",
        "op": "cluster_v3.get_kafka_cluster",
        "required_args": [
          "cluster_id"
        ],
        "supplied_args": [
          "cluster_id"
        ],
        "approval": "never",
        "pagination": null
      },
      {
        "recipe_id": "get-kafka-acls-confluent",
        "operation_id": "getKafkaAcls",
        "key": "GET /kafka/v3/clusters/{cluster_id}/acls",
        "pack": "confluent-kafka-cluster",
        "profile": "kafka",
        "op": "acl_v3.get_kafka_acls",
        "required_args": [
          "cluster_id"
        ],
        "supplied_args": [
          "cluster_id"
        ],
        "approval": "never",
        "pagination": null
      },
      {
        "recipe_id": "list-kafka-consumer-groups-confluent",
        "operation_id": "listKafkaConsumerGroups",
        "key": "GET /kafka/v3/clusters/{cluster_id}/consumer-groups",
        "pack": "confluent-kafka-cluster",
        "profile": "kafka",
        "op": "consumer_group_v3.list_kafka_consumer_groups",
        "required_args": [
          "cluster_id"
        ],
        "supplied_args": [
          "cluster_id"
        ],
        "approval": "never",
        "pagination": null
      },
      {
        "recipe_id": "get-kafka-consumer-group-lag-summary-confluent",
        "operation_id": "getKafkaConsumerGroupLagSummary",
        "key": "GET /kafka/v3/clusters/{cluster_id}/consumer-groups/{consumer_group_id}/lag-summary",
        "pack": "confluent-kafka-cluster",
        "profile": "kafka",
        "op": "consumer_group_v3.get_kafka_consumer_group_lag_summary",
        "required_args": [
          "cluster_id",
          "consumer_group_id"
        ],
        "supplied_args": [
          "cluster_id",
          "consumer_group_id"
        ],
        "approval": "never",
        "pagination": null
      },
      {
        "recipe_id": "list-kafka-topics-confluent",
        "operation_id": "listKafkaTopics",
        "key": "GET /kafka/v3/clusters/{cluster_id}/topics",
        "pack": "confluent-kafka-cluster",
        "profile": "kafka",
        "op": "topic_v3.list_kafka_topics",
        "required_args": [
          "cluster_id"
        ],
        "supplied_args": [
          "cluster_id"
        ],
        "approval": "never",
        "pagination": null
      },
      {
        "recipe_id": "list-kafka-links-confluent",
        "operation_id": "listKafkaLinks",
        "key": "GET /kafka/v3/clusters/{cluster_id}/links",
        "pack": "confluent-kafka-cluster",
        "profile": "kafka",
        "op": "cluster_linking_v3.list_kafka_links",
        "required_args": [
          "cluster_id"
        ],
        "supplied_args": [
          "cluster_id"
        ],
        "approval": "never",
        "pagination": null
      },
      {
        "recipe_id": "list-kafka-share-groups-confluent",
        "operation_id": "listKafkaShareGroups",
        "key": "GET /kafka/v3/clusters/{cluster_id}/share-groups",
        "pack": "confluent-kafka-cluster",
        "profile": "kafka",
        "op": "share_group_v3.list_kafka_share_groups",
        "required_args": [
          "cluster_id"
        ],
        "supplied_args": [
          "cluster_id"
        ],
        "approval": "never",
        "pagination": null
      },
      {
        "recipe_id": "list-kafka-streams-groups-confluent",
        "operation_id": "listKafkaStreamsGroups",
        "key": "GET /kafka/v3/clusters/{cluster_id}/streams-groups",
        "pack": "confluent-kafka-cluster",
        "profile": "kafka",
        "op": "streams_group_v3.list_kafka_streams_groups",
        "required_args": [
          "cluster_id"
        ],
        "supplied_args": [
          "cluster_id"
        ],
        "approval": "never",
        "pagination": null
      },
      {
        "recipe_id": "list-service-quota-v1-applied-quotas-confluent",
        "operation_id": "listServiceQuotaV1AppliedQuotas",
        "key": "GET /service-quota/v1/applied-quotas",
        "pack": "confluent-cloud-clusters-compute",
        "profile": "cloud",
        "op": "applied_quotas_service_quota_v1.list_service_quota_v1_applied_quotas",
        "required_args": [
          "query.scope"
        ],
        "supplied_args": [
          "query.scope"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-service-quota-v1-scopes-confluent",
        "operation_id": "listServiceQuotaV1Scopes",
        "key": "GET /service-quota/v1/scopes",
        "pack": "confluent-cloud-clusters-compute",
        "profile": "cloud",
        "op": "scopes_service_quota_v1.list_service_quota_v1_scopes",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-partner-v2-entitlements-confluent",
        "operation_id": "listPartnerV2Entitlements",
        "key": "GET /partner/v2/entitlements",
        "pack": "confluent-partner",
        "profile": "partner",
        "op": "entitlements_partner_v2.list_partner_v2_entitlements",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-srcm-v3-clusters-confluent",
        "operation_id": "listSrcmV3Clusters",
        "key": "GET /srcm/v3/clusters",
        "pack": "confluent-cloud-clusters-compute",
        "profile": "cloud",
        "op": "clusters_srcm_v3.list_srcm_v3_clusters",
        "required_args": [
          "query.environment"
        ],
        "supplied_args": [
          "query.environment"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "get-cluster-config-confluent",
        "operation_id": "getClusterConfig",
        "key": "GET /clusterconfig",
        "pack": "confluent-schema-registry",
        "profile": "schema",
        "op": "config_v1.get_cluster_config",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": null
      },
      {
        "recipe_id": "list-exporters-confluent",
        "operation_id": "listExporters",
        "key": "GET /exporters",
        "pack": "confluent-schema-registry",
        "profile": "schema",
        "op": "exporters_v1.list_exporters",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": null
      },
      {
        "recipe_id": "list-contexts-confluent",
        "operation_id": "listContexts",
        "key": "GET /contexts",
        "pack": "confluent-schema-registry",
        "profile": "schema",
        "op": "contexts_v1.list_contexts",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": null
      },
      {
        "recipe_id": "get-schemas-confluent",
        "operation_id": "getSchemas",
        "key": "GET /schemas",
        "pack": "confluent-schema-registry",
        "profile": "schema",
        "op": "schemas_v1.get_schemas",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": null
      },
      {
        "recipe_id": "list-confluent",
        "operation_id": "list",
        "key": "GET /subjects",
        "pack": "confluent-schema-registry",
        "profile": "schema",
        "op": "subjects_v1.list",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": null
      },
      {
        "recipe_id": "get-kek-names-confluent",
        "operation_id": "getKekNames",
        "key": "GET /dek-registry/v1/keks",
        "pack": "confluent-schema-registry",
        "profile": "schema",
        "op": "key_encryption_keys_v1.get_kek_names",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": null
      },
      {
        "recipe_id": "get-dek-subjects-confluent",
        "operation_id": "getDekSubjects",
        "key": "GET /dek-registry/v1/keks/{name}/deks",
        "pack": "confluent-schema-registry",
        "profile": "schema",
        "op": "data_encryption_keys_v1.get_dek_subjects",
        "required_args": [
          "name"
        ],
        "supplied_args": [
          "name"
        ],
        "approval": "never",
        "pagination": null
      },
      {
        "recipe_id": "get-all-business-metadata-defs-confluent",
        "operation_id": "getAllBusinessMetadataDefs",
        "key": "GET /catalog/v1/types/businessmetadatadefs",
        "pack": "confluent-schema-registry",
        "profile": "schema",
        "op": "types_v1.get_all_business_metadata_defs",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": null
      },
      {
        "recipe_id": "search-using-basic-confluent",
        "operation_id": "searchUsingBasic",
        "key": "GET /catalog/v1/search/basic",
        "pack": "confluent-schema-registry",
        "profile": "schema",
        "op": "search_v1.search_using_basic",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": null
      },
      {
        "recipe_id": "get-all-tag-defs-confluent",
        "operation_id": "getAllTagDefs",
        "key": "GET /catalog/v1/types/tagdefs",
        "pack": "confluent-schema-registry",
        "profile": "schema",
        "op": "types_v1.get_all_tag_defs",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": null
      },
      {
        "recipe_id": "list-cdx-v1-provider-shared-resources-confluent",
        "operation_id": "listCdxV1ProviderSharedResources",
        "key": "GET /cdx/v1/provider-shared-resources",
        "pack": "confluent-cloud-notifications-sharing",
        "profile": "cloud",
        "op": "provider_shared_resources_cdx_v1.list_cdx_v1_provider_shared_resources",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-cdx-v1-provider-shares-confluent",
        "operation_id": "listCdxV1ProviderShares",
        "key": "GET /cdx/v1/provider-shares",
        "pack": "confluent-cloud-notifications-sharing",
        "profile": "cloud",
        "op": "provider_shares_cdx_v1.list_cdx_v1_provider_shares",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-cdx-v1-consumer-shared-resources-confluent",
        "operation_id": "listCdxV1ConsumerSharedResources",
        "key": "GET /cdx/v1/consumer-shared-resources",
        "pack": "confluent-cloud-notifications-sharing",
        "profile": "cloud",
        "op": "consumer_shared_resources_cdx_v1.list_cdx_v1_consumer_shared_resources",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-cdx-v1-consumer-shares-confluent",
        "operation_id": "listCdxV1ConsumerShares",
        "key": "GET /cdx/v1/consumer-shares",
        "pack": "confluent-cloud-notifications-sharing",
        "profile": "cloud",
        "op": "consumer_shares_cdx_v1.list_cdx_v1_consumer_shares",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-partner-v2-organizations-confluent",
        "operation_id": "listPartnerV2Organizations",
        "key": "GET /partner/v2/organizations",
        "pack": "confluent-partner",
        "profile": "partner",
        "op": "organizations_partner_v2.list_partner_v2_organizations",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-networking-v1-networks-confluent",
        "operation_id": "listNetworkingV1Networks",
        "key": "GET /networking/v1/networks",
        "pack": "confluent-cloud-networking",
        "profile": "cloud",
        "op": "networks_networking_v1.list_networking_v1_networks",
        "required_args": [
          "query.environment"
        ],
        "supplied_args": [
          "query.environment"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-networking-v1-peerings-confluent",
        "operation_id": "listNetworkingV1Peerings",
        "key": "GET /networking/v1/peerings",
        "pack": "confluent-cloud-networking",
        "profile": "cloud",
        "op": "peerings_networking_v1.list_networking_v1_peerings",
        "required_args": [
          "query.environment"
        ],
        "supplied_args": [
          "query.environment"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-networking-v1-transit-gateway-attachments-confluent",
        "operation_id": "listNetworkingV1TransitGatewayAttachments",
        "key": "GET /networking/v1/transit-gateway-attachments",
        "pack": "confluent-cloud-networking",
        "profile": "cloud",
        "op": "transit_gateway_attachments_networking_v1.list_networking_v1_transit_gateway_attachments",
        "required_args": [
          "query.environment"
        ],
        "supplied_args": [
          "query.environment"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-networking-v1-private-link-accesses-confluent",
        "operation_id": "listNetworkingV1PrivateLinkAccesses",
        "key": "GET /networking/v1/private-link-accesses",
        "pack": "confluent-cloud-networking",
        "profile": "cloud",
        "op": "private_link_accesses_networking_v1.list_networking_v1_private_link_accesses",
        "required_args": [
          "query.environment"
        ],
        "supplied_args": [
          "query.environment"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-networking-v1-network-link-services-confluent",
        "operation_id": "listNetworkingV1NetworkLinkServices",
        "key": "GET /networking/v1/network-link-services",
        "pack": "confluent-cloud-networking",
        "profile": "cloud",
        "op": "network_link_services_networking_v1.list_networking_v1_network_link_services",
        "required_args": [
          "query.environment"
        ],
        "supplied_args": [
          "query.environment"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-networking-v1-network-link-endpoints-confluent",
        "operation_id": "listNetworkingV1NetworkLinkEndpoints",
        "key": "GET /networking/v1/network-link-endpoints",
        "pack": "confluent-cloud-networking",
        "profile": "cloud",
        "op": "network_link_endpoints_networking_v1.list_networking_v1_network_link_endpoints",
        "required_args": [
          "query.environment"
        ],
        "supplied_args": [
          "query.environment"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-networking-v1-network-link-service-associations-confluent",
        "operation_id": "listNetworkingV1NetworkLinkServiceAssociations",
        "key": "GET /networking/v1/network-link-service-associations",
        "pack": "confluent-cloud-networking",
        "profile": "cloud",
        "op": "network_link_service_associations_networking_v1.list_networking_v1_network_link_service_associations",
        "required_args": [
          "query.spec.network_link_service",
          "query.environment"
        ],
        "supplied_args": [
          "query.spec.network_link_service",
          "query.environment"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-networking-v1-ip-addresses-confluent",
        "operation_id": "listNetworkingV1IpAddresses",
        "key": "GET /networking/v1/ip-addresses",
        "pack": "confluent-cloud-networking",
        "profile": "cloud",
        "op": "ip_addresses_networking_v1.list_networking_v1_ip_addresses",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-networking-v1-private-link-attachments-confluent",
        "operation_id": "listNetworkingV1PrivateLinkAttachments",
        "key": "GET /networking/v1/private-link-attachments",
        "pack": "confluent-cloud-networking",
        "profile": "cloud",
        "op": "private_link_attachments_networking_v1.list_networking_v1_private_link_attachments",
        "required_args": [
          "query.environment"
        ],
        "supplied_args": [
          "query.environment"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-networking-v1-private-link-attachment-connections-confluent",
        "operation_id": "listNetworkingV1PrivateLinkAttachmentConnections",
        "key": "GET /networking/v1/private-link-attachment-connections",
        "pack": "confluent-cloud-networking",
        "profile": "cloud",
        "op": "private_link_attachment_connections_networking_v1.list_networking_v1_private_link_attachment_connections",
        "required_args": [
          "query.environment"
        ],
        "supplied_args": [
          "query.environment"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-iam-v2-identity-providers-confluent",
        "operation_id": "listIamV2IdentityProviders",
        "key": "GET /iam/v2/identity-providers",
        "pack": "confluent-cloud-identity-access",
        "profile": "cloud",
        "op": "identity_providers_iam_v2.list_iam_v2_identity_providers",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-iam-v2-identity-pools-confluent",
        "operation_id": "listIamV2IdentityPools",
        "key": "GET /iam/v2/identity-providers/{provider_id}/identity-pools",
        "pack": "confluent-cloud-identity-access",
        "profile": "cloud",
        "op": "identity_pools_iam_v2.list_iam_v2_identity_pools",
        "required_args": [
          "provider_id"
        ],
        "supplied_args": [
          "provider_id"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-kafka-quotas-v1-client-quotas-confluent",
        "operation_id": "listKafkaQuotasV1ClientQuotas",
        "key": "GET /kafka-quotas/v1/client-quotas",
        "pack": "confluent-cloud-clusters-compute",
        "profile": "cloud",
        "op": "client_quotas_kafka_quotas_v1.list_kafka_quotas_v1_client_quotas",
        "required_args": [
          "query.spec.cluster",
          "query.environment"
        ],
        "supplied_args": [
          "query.spec.cluster",
          "query.environment"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-byok-v1-keys-confluent",
        "operation_id": "listByokV1Keys",
        "key": "GET /byok/v1/keys",
        "pack": "confluent-cloud-clusters-compute",
        "profile": "cloud",
        "op": "keys_byok_v1.list_byok_v1_keys",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-billing-v1-costs-confluent",
        "operation_id": "listBillingV1Costs",
        "key": "GET /billing/v1/costs",
        "pack": "confluent-cloud-notifications-sharing",
        "profile": "cloud",
        "op": "costs_billing_v1.list_billing_v1_costs",
        "required_args": [
          "query.start_date",
          "query.end_date"
        ],
        "supplied_args": [
          "query.start_date",
          "query.end_date"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-iam-v2-sso-group-mappings-confluent",
        "operation_id": "listIamV2SsoGroupMappings",
        "key": "GET /iam/v2/sso/group-mappings",
        "pack": "confluent-cloud-identity-access",
        "profile": "cloud",
        "op": "group_mappings_iam_v2_sso.list_iam_v2_sso_group_mappings",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-fcpm-v2-compute-pools-confluent",
        "operation_id": "listFcpmV2ComputePools",
        "key": "GET /fcpm/v2/compute-pools",
        "pack": "confluent-cloud-clusters-compute",
        "profile": "cloud",
        "op": "compute_pools_fcpm_v2.list_fcpm_v2_compute_pools",
        "required_args": [
          "query.environment"
        ],
        "supplied_args": [
          "query.environment"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-fcpm-v2-regions-confluent",
        "operation_id": "listFcpmV2Regions",
        "key": "GET /fcpm/v2/regions",
        "pack": "confluent-cloud-clusters-compute",
        "profile": "cloud",
        "op": "regions_fcpm_v2.list_fcpm_v2_regions",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-sqlv1-connections-confluent",
        "operation_id": "listSqlv1Connections",
        "key": "GET /sql/v1/organizations/{organization_id}/environments/{environment_id}/connections",
        "pack": "confluent-flink-sql",
        "profile": "flink",
        "op": "connections_sql_v1.list_sqlv1_connections",
        "required_args": [
          "organization_id",
          "environment_id"
        ],
        "supplied_args": [
          "organization_id",
          "environment_id"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "get-sqlv1-statement-result-confluent",
        "operation_id": "getSqlv1StatementResult",
        "key": "GET /sql/v1/organizations/{organization_id}/environments/{environment_id}/statements/{name}/results",
        "pack": "confluent-flink-sql",
        "profile": "flink",
        "op": "statement_results_sql_v1.get_sqlv1_statement_result",
        "required_args": [
          "organization_id",
          "environment_id",
          "name"
        ],
        "supplied_args": [
          "organization_id",
          "environment_id",
          "name"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-sqlv1-statements-confluent",
        "operation_id": "listSqlv1Statements",
        "key": "GET /sql/v1/organizations/{organization_id}/environments/{environment_id}/statements",
        "pack": "confluent-flink-sql",
        "profile": "flink",
        "op": "statements_sql_v1.list_sqlv1_statements",
        "required_args": [
          "organization_id",
          "environment_id"
        ],
        "supplied_args": [
          "organization_id",
          "environment_id"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-sqlv1-materialized-tables-confluent",
        "operation_id": "listSqlv1MaterializedTables",
        "key": "GET /sql/v1/organizations/{organization_id}/environments/{environment_id}/materialized-tables",
        "pack": "confluent-flink-sql",
        "profile": "flink",
        "op": "materialized_tables_sql_v1.list_sqlv1_materialized_tables",
        "required_args": [
          "organization_id",
          "environment_id"
        ],
        "supplied_args": [
          "organization_id",
          "environment_id"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-sqlv1-materialized-table-versions-confluent",
        "operation_id": "listSqlv1MaterializedTableVersions",
        "key": "GET /sql/v1/organizations/{organization_id}/environments/{environment_id}/databases/{kafka_cluster_id}/materialized-tables/{table_name}/versions",
        "pack": "confluent-flink-sql",
        "profile": "flink",
        "op": "materialized_table_versions_sql_v1.list_sqlv1_materialized_table_versions",
        "required_args": [
          "organization_id",
          "environment_id",
          "kafka_cluster_id",
          "table_name"
        ],
        "supplied_args": [
          "organization_id",
          "environment_id",
          "kafka_cluster_id",
          "table_name"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-sqlv1-agents-confluent",
        "operation_id": "listSqlv1Agents",
        "key": "GET /sql/v1/organizations/{organization_id}/environments/{environment_id}/agents",
        "pack": "confluent-flink-sql",
        "profile": "flink",
        "op": "agents_sql_v1.list_sqlv1_agents",
        "required_args": [
          "organization_id",
          "environment_id"
        ],
        "supplied_args": [
          "organization_id",
          "environment_id"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-sqlv1-tools-confluent",
        "operation_id": "listSqlv1Tools",
        "key": "GET /sql/v1/organizations/{organization_id}/environments/{environment_id}/databases/{database_name}/tools",
        "pack": "confluent-flink-sql",
        "profile": "flink",
        "op": "tools_sql_v1.list_sqlv1_tools",
        "required_args": [
          "organization_id",
          "environment_id",
          "database_name"
        ],
        "supplied_args": [
          "organization_id",
          "environment_id",
          "database_name"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-networking-v1-dns-forwarders-confluent",
        "operation_id": "listNetworkingV1DnsForwarders",
        "key": "GET /networking/v1/dns-forwarders",
        "pack": "confluent-cloud-networking",
        "profile": "cloud",
        "op": "dns_forwarders_networking_v1.list_networking_v1_dns_forwarders",
        "required_args": [
          "query.environment"
        ],
        "supplied_args": [
          "query.environment"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-networking-v1-access-points-confluent",
        "operation_id": "listNetworkingV1AccessPoints",
        "key": "GET /networking/v1/access-points",
        "pack": "confluent-cloud-networking",
        "profile": "cloud",
        "op": "access_points_networking_v1.list_networking_v1_access_points",
        "required_args": [
          "query.environment"
        ],
        "supplied_args": [
          "query.environment"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-networking-v1-dns-records-confluent",
        "operation_id": "listNetworkingV1DnsRecords",
        "key": "GET /networking/v1/dns-records",
        "pack": "confluent-cloud-networking",
        "profile": "cloud",
        "op": "dns_records_networking_v1.list_networking_v1_dns_records",
        "required_args": [
          "query.environment"
        ],
        "supplied_args": [
          "query.environment"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-iam-v2-certificate-authorities-confluent",
        "operation_id": "listIamV2CertificateAuthorities",
        "key": "GET /iam/v2/certificate-authorities",
        "pack": "confluent-cloud-identity-access",
        "profile": "cloud",
        "op": "certificate_authorities_iam_v2.list_iam_v2_certificate_authorities",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-iam-v2-certificate-identity-pools-confluent",
        "operation_id": "listIamV2CertificateIdentityPools",
        "key": "GET /iam/v2/certificate-authorities/{certificate_authority_id}/identity-pools",
        "pack": "confluent-cloud-identity-access",
        "profile": "cloud",
        "op": "certificate_identity_pools_iam_v2.list_iam_v2_certificate_identity_pools",
        "required_args": [
          "certificate_authority_id"
        ],
        "supplied_args": [
          "certificate_authority_id"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-pim-v1-integrations-confluent",
        "operation_id": "listPimV1Integrations",
        "key": "GET /pim/v1/integrations",
        "pack": "confluent-cloud-notifications-sharing",
        "profile": "cloud",
        "op": "integrations_pim_v1.list_pim_v1_integrations",
        "required_args": [
          "query.environment"
        ],
        "supplied_args": [
          "query.environment"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-pim-v2-integrations-confluent",
        "operation_id": "listPimV2Integrations",
        "key": "GET /pim/v2/integrations",
        "pack": "confluent-cloud-notifications-sharing",
        "profile": "cloud",
        "op": "integrations_pim_v2.list_pim_v2_integrations",
        "required_args": [
          "query.environment"
        ],
        "supplied_args": [
          "query.environment"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-artifact-v1-flink-artifacts-confluent",
        "operation_id": "listArtifactV1FlinkArtifacts",
        "key": "GET /artifact/v1/flink-artifacts",
        "pack": "confluent-cloud-connectors-artifacts",
        "profile": "cloud",
        "op": "flink_artifacts_artifact_v1.list_artifact_v1_flink_artifacts",
        "required_args": [
          "query.cloud",
          "query.region",
          "query.environment"
        ],
        "supplied_args": [
          "query.cloud",
          "query.region",
          "query.environment"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-networking-v1-gateways-confluent",
        "operation_id": "listNetworkingV1Gateways",
        "key": "GET /networking/v1/gateways",
        "pack": "confluent-cloud-networking",
        "profile": "cloud",
        "op": "gateways_networking_v1.list_networking_v1_gateways",
        "required_args": [
          "query.environment"
        ],
        "supplied_args": [
          "query.environment"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-ccl-v1-custom-code-loggings-confluent",
        "operation_id": "listCclV1CustomCodeLoggings",
        "key": "GET /ccl/v1/custom-code-loggings",
        "pack": "confluent-cloud-connectors-artifacts",
        "profile": "cloud",
        "op": "custom_code_loggings_ccl_v1.list_ccl_v1_custom_code_loggings",
        "required_args": [
          "query.environment"
        ],
        "supplied_args": [
          "query.environment"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-tableflow-v1-regions-confluent",
        "operation_id": "listTableflowV1Regions",
        "key": "GET /tableflow/v1/regions",
        "pack": "confluent-resource-tableflow",
        "profile": "resource",
        "op": "regions_tableflow_v1.list_tableflow_v1_regions",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-tableflow-v1-tableflow-topics-confluent",
        "operation_id": "listTableflowV1TableflowTopics",
        "key": "GET /tableflow/v1/tableflow-topics",
        "pack": "confluent-resource-tableflow",
        "profile": "resource",
        "op": "tableflow_topics_tableflow_v1.list_tableflow_v1_tableflow_topics",
        "required_args": [
          "query.environment",
          "query.spec.kafka_cluster"
        ],
        "supplied_args": [
          "query.environment",
          "query.spec.kafka_cluster"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-tableflow-v1-catalog-integrations-confluent",
        "operation_id": "listTableflowV1CatalogIntegrations",
        "key": "GET /tableflow/v1/catalog-integrations",
        "pack": "confluent-resource-tableflow",
        "profile": "resource",
        "op": "catalog_integrations_tableflow_v1.list_tableflow_v1_catalog_integrations",
        "required_args": [
          "query.environment",
          "query.spec.kafka_cluster"
        ],
        "supplied_args": [
          "query.environment",
          "query.spec.kafka_cluster"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-ccpm-v1-custom-connect-plugins-confluent",
        "operation_id": "listCcpmV1CustomConnectPlugins",
        "key": "GET /ccpm/v1/plugins",
        "pack": "confluent-cloud-connectors-artifacts",
        "profile": "cloud",
        "op": "custom_connect_plugins_ccpm_v1.list_ccpm_v1_custom_connect_plugins",
        "required_args": [
          "query.environment"
        ],
        "supplied_args": [
          "query.environment"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-usm-v1-kafka-clusters-confluent",
        "operation_id": "listUsmV1KafkaClusters",
        "key": "GET /usm/v1/kafka-clusters",
        "pack": "confluent-cloud-clusters-compute",
        "profile": "cloud",
        "op": "kafka_clusters_usm_v1.list_usm_v1_kafka_clusters",
        "required_args": [
          "query.environment"
        ],
        "supplied_args": [
          "query.environment"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-usm-v1-connect-clusters-confluent",
        "operation_id": "listUsmV1ConnectClusters",
        "key": "GET /usm/v1/connect-clusters",
        "pack": "confluent-cloud-connectors-artifacts",
        "profile": "cloud",
        "op": "connect_clusters_usm_v1.list_usm_v1_connect_clusters",
        "required_args": [
          "query.environment"
        ],
        "supplied_args": [
          "query.environment"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-endpoint-v1-endpoints-confluent",
        "operation_id": "listEndpointV1Endpoints",
        "key": "GET /endpoint/v1/endpoints",
        "pack": "confluent-cloud-networking",
        "profile": "cloud",
        "op": "endpoints_endpoint_v1.list_endpoint_v1_endpoints",
        "required_args": [
          "query.service",
          "query.environment"
        ],
        "supplied_args": [
          "query.service",
          "query.environment"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-rtce-v1-rtce-topics-confluent",
        "operation_id": "listRtceV1RtceTopics",
        "key": "GET /rtce/v1/rtce-topics",
        "pack": "confluent-resource-tableflow",
        "profile": "resource",
        "op": "rtce_topics_rtce_v1.list_rtce_v1_rtce_topics",
        "required_args": [
          "query.environment",
          "query.spec.kafka_cluster"
        ],
        "supplied_args": [
          "query.environment",
          "query.spec.kafka_cluster"
        ],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
          "query_param": "page_token",
          "token_to": {
            "placement": "query",
            "param": "page_token"
          }
        }
      },
      {
        "recipe_id": "list-rtce-v1-regions-confluent",
        "operation_id": "listRtceV1Regions",
        "key": "GET /rtce/v1/regions",
        "pack": "confluent-resource-tableflow",
        "profile": "resource",
        "op": "regions_rtce_v1.list_rtce_v1_regions",
        "required_args": [],
        "supplied_args": [],
        "approval": "never",
        "pagination": {
          "style": "query_token_link",
          "link_from": "metadata.next",
[...]
